{
  "swagger": "2.0",
  "info": {
    "description": "内测云开发者服务平台应用程序接口文档",
    "version": "1.0.0",
    "title": "内测云分发开发者API接口",
    "termsOfService": "https://neice.cloud",
    "contact": {
      "name": "内测云分发开发者API接口",
      "url": "https://neice.cloud",
      "email": "henryxm@163.com"
    },
    "license": {
      "name": "Apache 2.0",
      "url": "https://www.apache.org/licenses/LICENSE-2.0"
    }
  },
  "host": "neice.cloud",
  "basePath": "/",
  "tags": [
    {
      "name": "balance",
      "description": "用户余额"
    },
    {
      "name": "device",
      "description": "iOS设备注册"
    },
    {
      "name": "endpoint",
      "description": "获取签名节点入口"
    },
    {
      "name": "oauth",
      "description": "客户端授权登录认证获取Token接口"
    },
    {
      "name": "version",
      "description": "系统接口版本"
    }
  ],
  "schemes": [
    "https"
  ],
  "paths": {
    "/aas/api/v1/certificate": {
      "post": {
        "tags": [
          "device"
        ],
        "summary": "获取iOS设备证书",
        "description": "获取iOS设备证书",
        "operationId": "getCertificate",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "*/*"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "udid",
            "description": "udid",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ResponseOfPersonalCertificate"
            }
          },
          "201": {
            "description": "Created"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "security": [
          {
            "Authorization": [
              "global"
            ]
          }
        ]
      }
    },
    "/aas/api/v1/certificates": {
      "post": {
        "tags": [
          "device"
        ],
        "summary": "获取iOS设备证书列表",
        "description": "获取iOS设备证书列表",
        "operationId": "getCertificates",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "*/*"
        ],
        "parameters": [
          {
            "name": "asc",
            "in": "query",
            "description": "asc",
            "required": false,
            "type": "boolean"
          },
          {
            "name": "limit",
            "in": "query",
            "description": "limit",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "page",
            "in": "query",
            "description": "page",
            "required": true,
            "type": "integer",
            "format": "int32"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ResponseOfListOfPersonalCertificate"
            }
          },
          "201": {
            "description": "Created"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "security": [
          {
            "Authorization": [
              "global"
            ]
          }
        ]
      }
    },
    "/aas/api/v1/exchange/code": {
      "post": {
        "tags": [
          "device"
        ],
        "summary": "创建iOS设备证书兑换码",
        "description": "创建iOS设备证书兑换码",
        "operationId": "createExchangeCode",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "*/*"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "request",
            "description": "request",
            "required": true,
            "schema": {
              "$ref": "#/definitions/CertificateCode"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ResponseOfCertificateCode"
            }
          },
          "201": {
            "description": "Created"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "security": [
          {
            "Authorization": [
              "global"
            ]
          }
        ]
      }
    },
    "/aas/api/v1/register": {
      "post": {
        "tags": [
          "device"
        ],
        "summary": "iOS设备注册",
        "description": "iOS设备注册",
        "operationId": "register",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "*/*"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "request",
            "description": "request",
            "required": true,
            "schema": {
              "$ref": "#/definitions/DeviceRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ResponseOfPersonalCertificate"
            }
          },
          "201": {
            "description": "Created"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "security": [
          {
            "Authorization": [
              "global"
            ]
          }
        ]
      }
    },
    "/aas/api/v1/registers": {
      "post": {
        "tags": [
          "device"
        ],
        "summary": "iOS设备批量提交注册",
        "description": "请确保批量提交的数据的准性，提交后不可撤销，批量提交注册将不直接返回证书，请通过回调接口接收证书，如果没提供回调接口，可使用查询接口查询",
        "operationId": "registers",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "*/*"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "deviceRequests",
            "description": "deviceRequests",
            "required": true,
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/DeviceRequest"
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ResponseOfstring"
            }
          },
          "201": {
            "description": "Created"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "security": [
          {
            "Authorization": [
              "global"
            ]
          }
        ]
      }
    },
    "/aas/api/v1/renewable": {
      "post": {
        "tags": [
          "device"
        ],
        "summary": "查询设备补签列表信息",
        "description": "查询设备补签列表信息",
        "operationId": "renewable",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "*/*"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "udid",
            "description": "udid",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ResponseOfListOfRenewable"
            }
          },
          "201": {
            "description": "Created"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "security": [
          {
            "Authorization": [
              "global"
            ]
          }
        ]
      }
    },
    "/aas/api/v1/status": {
      "post": {
        "tags": [
          "device"
        ],
        "summary": "获取证书支持类型",
        "description": "获取证书支持类型",
        "operationId": "getStatus",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "*/*"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ResponseOfStatus"
            }
          },
          "201": {
            "description": "Created"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "security": [
          {
            "Authorization": [
              "global"
            ]
          }
        ]
      }
    },
    "/aas/api/v1/version": {
      "post": {
        "tags": [
          "version"
        ],
        "summary": "获取接口系统版本",
        "description": "获取接口系统版本",
        "operationId": "getVersion",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "*/*"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ResponseOfVersion"
            }
          },
          "201": {
            "description": "Created"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "security": [
          {
            "Authorization": [
              "global"
            ]
          }
        ]
      }
    },
    "/endpoint/getEndpoint": {
      "post": {
        "tags": [
          "endpoint"
        ],
        "summary": "获取签名节点入口",
        "description": "获取签名节点入口",
        "operationId": "getEndpoint",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "*/*"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "param",
            "description": "param",
            "required": true,
            "schema": {
              "type": "object",
              "additionalProperties": {
                "type": "string"
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/Endpoint"
              }
            }
          },
          "201": {
            "description": "Created"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "security": [
          {
            "Authorization": [
              "global"
            ]
          }
        ]
      }
    },
    "/oauth2/token": {
      "post": {
        "tags": [
          "oauth"
        ],
        "summary": "获取Token",
        "description": "获取Token",
        "operationId": "getToken",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "*/*"
        ],
        "parameters": [
          {
            "name": "client_id",
            "in": "query",
            "description": "client_id",
            "required": true,
            "type": "string"
          },
          {
            "name": "client_secret",
            "in": "query",
            "description": "client_secret",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "string"
            }
          },
          "201": {
            "description": "Created"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        }
      }
    },
    "/oauth2/userInfo": {
      "get": {
        "tags": [
          "oauth"
        ],
        "summary": "获取用户信息",
        "description": "获取用户信息",
        "operationId": "getUserInfo",
        "produces": [
          "application/json;charset=UTF-8"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "object"
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "security": [
          {
            "Authorization": [
              "global"
            ]
          }
        ]
      },
      "post": {
        "tags": [
          "oauth"
        ],
        "summary": "获取用户信息",
        "description": "获取用户信息",
        "operationId": "getUserInfo_1",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json;charset=UTF-8"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "object"
            }
          },
          "201": {
            "description": "Created"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "security": [
          {
            "Authorization": [
              "global"
            ]
          }
        ]
      }
    },
    "/user/api/v1/balance": {
      "post": {
        "tags": [
          "balance"
        ],
        "summary": "获取用户余额",
        "description": "获取用户余额",
        "operationId": "getBalance",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "*/*"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ResponseOfBalance"
            }
          },
          "201": {
            "description": "Created"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "security": [
          {
            "Authorization": [
              "global"
            ]
          }
        ]
      }
    }
  },
  "securityDefinitions": {
    "Authorization": {
      "type": "oauth2",
      "tokenUrl": "/oauth2/token",
      "flow": "application",
      "scopes": {
        "all": "All scope is trusted!"
      }
    }
  },
  "definitions": {
    "Balance": {
      "type": "object",
      "properties": {
        "acquire": {
          "type": "number"
        },
        "algorithm": {
          "type": "string"
        },
        "balance": {
          "type": "number"
        },
        "ciphertext": {
          "type": "string"
        },
        "escrow": {
          "type": "number"
        },
        "reward": {
          "type": "number"
        },
        "session": {
          "type": "string"
        },
        "total": {
          "type": "number"
        },
        "userUuid": {
          "type": "string"
        },
        "voucher": {
          "type": "number"
        }
      },
      "title": "Balance"
    },
    "CertificateCode": {
      "type": "object",
      "properties": {
        "code": {
          "type": "string",
          "description": "证书兑换码"
        },
        "domain": {
          "type": "string",
          "description": "证书兑换系统的域名，请先在网站配置域名及其对应的API地址"
        },
        "exchange": {
          "type": "string",
          "format": "date-time",
          "description": "兑换码完成兑换的时间"
        },
        "model": {
          "type": "string",
          "description": "设备型号:iPhone,iPad,iPod"
        },
        "quality": {
          "type": "integer",
          "format": "int32",
          "description": "默认为0:不质保,最大不能超过365天，该值仅作为参考，不作为依据，具体以上游系统为准"
        },
        "query": {
          "type": "string",
          "description": "证书查询码"
        },
        "reserve": {
          "type": "boolean",
          "description": "表示该兑换码是否是兑换的预定证书，该值仅作为参考，不作为依据，具体以上游系统为准"
        },
        "token": {
          "type": "string",
          "description": "请求鉴权令牌"
        },
        "udid": {
          "type": "string",
          "description": "绑定设备的UDID，兑换时绑定"
        }
      },
      "title": "CertificateCode"
    },
    "DeviceRequest": {
      "type": "object",
      "required": [
        "udid"
      ],
      "properties": {
        "callback": {
          "type": "string",
          "description": "预定证书激活时可通过回调地址将证书推送到业务系统中，为空将不会回调"
        },
        "code": {
          "type": "string",
          "description": "可使用兑换码注册设备"
        },
        "model": {
          "type": "string",
          "description": "兑换设备的手机型号，非必要参数"
        },
        "name": {
          "type": "string",
          "description": "当调用的预定证书激活时，激活通知短信将发送该名称，方便区分，允许为空值"
        },
        "param": {
          "type": "string",
          "description": "额外透传参数，非必要参数"
        },
        "phone": {
          "type": "string",
          "description": "预定手机:设备激活后发送可以安装APP的通知短信，当注册预定证书时，电话号码不能为空值"
        },
        "quality": {
          "type": "integer",
          "format": "int32",
          "description": "增加质保天数后台可能会增加计费"
        },
        "refer": {
          "type": "string",
          "description": "下游系统可以标记该设备的注册用户，上游系统将透传回去，非必要参数"
        },
        "renew": {
          "type": "boolean",
          "description": "标记该设备是否是免费补签请求"
        },
        "reserve": {
          "type": "boolean",
          "description": "证书预定参数开关如果卡设备，将在设备处于激活状态时通知用户安装"
        },
        "system": {
          "type": "string",
          "description": "兑换设备的系统，非必要参数"
        },
        "udid": {
          "type": "string",
          "description": "iOS或iPad设备UDID"
        },
        "uuid": {
          "type": "string",
          "description": "免费补签时，指定需要补签证书对应的UUID"
        },
        "version": {
          "type": "string",
          "description": "兑换设备的客户端版本，非必要参数"
        }
      },
      "title": "DeviceRequest"
    },
    "Endpoint": {
      "type": "object",
      "properties": {
        "description": {
          "type": "string"
        },
        "endpoint": {
          "type": "string"
        },
        "name": {
          "type": "string"
        }
      },
      "title": "Endpoint"
    },
    "PersonalCertificate": {
      "type": "object",
      "properties": {
        "certificate": {
          "type": "string",
          "description": "设备证书P12"
        },
        "certificateId": {
          "type": "string",
          "description": "证书ID"
        },
        "code": {
          "type": "string",
          "description": "证书兑换码"
        },
        "createTime": {
          "type": "string",
          "description": "证书创建时间"
        },
        "description": {
          "type": "string",
          "description": "证书描述信息"
        },
        "deviceId": {
          "type": "string",
          "description": "设备ID"
        },
        "experience": {
          "type": "integer",
          "format": "int32",
          "description": "允许用户体验的次数"
        },
        "invisible": {
          "type": "boolean",
          "description": "隐形证书"
        },
        "lock": {
          "type": "integer",
          "format": "int32",
          "description": "锁定:0,不加锁;100,导出锁;200,体验锁;300,解码锁;400,付款锁;500,优惠锁;600,包月锁;700,续费锁;800,备份锁;10000,杀死锁"
        },
        "mobileprovision": {
          "type": "string",
          "description": "设备的描述文件Mobileprovision"
        },
        "name": {
          "type": "string",
          "description": "证书名称"
        },
        "password": {
          "type": "string",
          "description": "设备证书密码"
        },
        "phone": {
          "type": "string",
          "description": "预定手机"
        },
        "price": {
          "type": "number",
          "description": "服务价格"
        },
        "profile": {
          "type": "string"
        },
        "profileId": {
          "type": "string",
          "description": "描述文件ID"
        },
        "quality": {
          "type": "integer",
          "format": "int32",
          "description": "证书质保天数"
        },
        "qualityTime": {
          "type": "string",
          "description": "证书质保到期时间"
        },
        "refer": {
          "type": "string",
          "description": "该设备的用户,后台自动透传该参数"
        },
        "repair": {
          "type": "boolean",
          "description": "补偿证书:预定失败或质保期内掉签，后台重订的设备标记，一般免服务费"
        },
        "reserve": {
          "type": "boolean",
          "description": "预定证书"
        },
        "serialNumber": {
          "type": "string"
        },
        "tag": {
          "type": "string"
        },
        "team": {
          "type": "string"
        },
        "teamId": {
          "type": "string"
        },
        "udid": {
          "type": "string",
          "description": "设备的UDID"
        },
        "uuid": {
          "type": "string",
          "description": "单个设备证书UUID"
        },
        "valid": {
          "type": "boolean",
          "description": "证书是否有效"
        }
      },
      "title": "PersonalCertificate"
    },
    "Renewable": {
      "type": "object",
      "properties": {
        "domain": {
          "type": "string"
        },
        "guide": {
          "type": "string"
        },
        "renewable": {
          "type": "boolean"
        },
        "teamId": {
          "type": "string"
        },
        "udid": {
          "type": "string"
        },
        "url": {
          "type": "string"
        },
        "uuid": {
          "type": "string"
        }
      },
      "title": "Renewable"
    },
    "ResponseOfBalance": {
      "type": "object",
      "required": [
        "code"
      ],
      "properties": {
        "action": {
          "type": "string",
          "enum": [
            "GET_AES_KEY",
            "NONE",
            "REFRESH_SERVER_PUBLIC_KEY",
            "RETRY_LATER",
            "RE_LOGIN",
            "UPDATE_CLIENT_VERSION",
            "UPLOAD_CLIENT_PUBLIC_KEY"
          ]
        },
        "algorithm": {
          "type": "string"
        },
        "ciphertext": {
          "type": "string"
        },
        "code": {
          "type": "integer",
          "format": "int32",
          "description": "响应代码"
        },
        "data": {
          "description": "响应数据",
          "$ref": "#/definitions/Balance"
        },
        "error": {
          "type": "string",
          "enum": [
            "ACCEPTED",
            "ACCESS_RATE_LIMIT",
            "ACCOUNT_CANCELLED",
            "ACCOUNT_DISABLED",
            "ACCOUNT_LOCKED",
            "ACCOUNT_NOT_ACTIVATED",
            "AES_DECRYPTED_DATA_EMPTY",
            "AES_DECRYPT_FAILED",
            "AES_ENCRYPTED_DATA_EMPTY",
            "AES_ENCRYPT_FAILED",
            "AES_KEY_EXPIRED",
            "AES_KEY_EXPIRING_SOON",
            "AES_KEY_FORMAT_ERROR",
            "AES_KEY_GENERATE_FAILED",
            "AES_KEY_LENGTH_ERROR",
            "AES_KEY_NOT_FOUND",
            "AES_MODE_NOT_SUPPORTED",
            "AES_PADDING_NOT_SUPPORTED",
            "AES_VECTOR_FORMAT_ERROR",
            "AES_VECTOR_LENGTH_ERROR",
            "ALREADY_REPORTED",
            "BAD_GATEWAY",
            "BAD_REQUEST",
            "BUSINESS_ERROR",
            "CAPTCHA_ERROR",
            "CAPTCHA_EXPIRED",
            "CONFLICT",
            "CONTINUE",
            "CREATED",
            "DATABASE_BACKUP_FAILED",
            "DATABASE_CHECK_CONSTRAINT_VIOLATION",
            "DATABASE_COLUMN_NOT_FOUND",
            "DATABASE_CONNECTION_FAILED",
            "DATABASE_CONNECTION_POOL_EXHAUSTED",
            "DATABASE_DEADLOCK",
            "DATABASE_DELETE_FAILED",
            "DATABASE_DUPLICATE_KEY",
            "DATABASE_FOREIGN_KEY_VIOLATION",
            "DATABASE_INDEX_NOT_FOUND",
            "DATABASE_INSERT_FAILED",
            "DATABASE_NOT_NULL_VIOLATION",
            "DATABASE_OPERATION_FAILED",
            "DATABASE_PERMISSION_DENIED",
            "DATABASE_QUERY_FAILED",
            "DATABASE_READ_ONLY",
            "DATABASE_RESTORE_FAILED",
            "DATABASE_SQL_SYNTAX_ERROR",
            "DATABASE_TABLE_NOT_FOUND",
            "DATABASE_TIMEOUT",
            "DATABASE_TRANSACTION_FAILED",
            "DATABASE_UNIQUE_CONSTRAINT_VIOLATION",
            "DATABASE_UPDATE_FAILED",
            "DATABASE_VERSION_INCOMPATIBLE",
            "DATA_ALREADY_EXISTS",
            "DATA_CONSTRAINT_VIOLATION",
            "DATA_FORMAT_ERROR",
            "DATA_INTEGRITY_ERROR",
            "DATA_NOT_FOUND",
            "DATA_RANGE_ERROR",
            "DATA_RELATION_ERROR",
            "DATA_STATUS_ERROR",
            "DATA_VERSION_CONFLICT",
            "EARLY_HINTS",
            "EXPECTATION_FAILED",
            "FAILED_DEPENDENCY",
            "FEATURE_NOT_AVAILABLE",
            "FORBIDDEN",
            "FORCE_ENCRYPT_REQUEST_REQUIRED",
            "FORCE_ENCRYPT_SESSION_REQUIRED",
            "FOUND",
            "GATEWAY_TIMEOUT",
            "GONE",
            "HTTP_VERSION_NOT_SUPPORTED",
            "IM_USED",
            "INSUFFICIENT_STORAGE",
            "INTERNAL_SERVER_ERROR",
            "IP_FORBIDDEN",
            "LENGTH_REQUIRED",
            "LOCKED",
            "LOGIN_EXPIRED",
            "LOGIN_FAILED",
            "LOOP_DETECTED",
            "METHOD_NOT_ALLOWED",
            "MOVED_PERMANENTLY",
            "MULTIPLE_CHOICES",
            "MULTI_STATUS",
            "NETWORK_AUTHENTICATION_REQUIRED",
            "NON_AUTHORITATIVE_INFORMATION",
            "NOT_ACCEPTABLE",
            "NOT_EXTENDED",
            "NOT_FOUND",
            "NOT_IMPLEMENTED",
            "NOT_MODIFIED",
            "NO_CONTENT",
            "OK",
            "OPERATION_NOT_ALLOWED",
            "OPERATION_TIMEOUT",
            "PARTIAL_CONTENT",
            "PASSWORD_EXPIRED",
            "PASSWORD_WEAK",
            "PAYLOAD_TOO_LARGE",
            "PAYMENT_REQUIRED",
            "PERMANENT_REDIRECT",
            "PERMISSION_DENIED",
            "PRECONDITION_FAILED",
            "PRECONDITION_REQUIRED",
            "PROCESSING",
            "PROXY_AUTHENTICATION_REQUIRED",
            "RANGE_NOT_SATISFIABLE",
            "REFRESH_TOKEN_EXPIRED",
            "REFRESH_TOKEN_INVALID",
            "REQUEST_HEADER_FIELDS_TOO_LARGE",
            "REQUEST_TIMEOUT",
            "RESET_CONTENT",
            "RESOURCE_LOCKED",
            "RSA_CLIENT_PUBLIC_KEY_EXPIRING_SOON",
            "RSA_CLIENT_PUBLIC_KEY_NOT_FOUND",
            "RSA_DECRYPT_FAILED",
            "RSA_ENCRYPT_FAILED",
            "RSA_KEY_FORMAT_ERROR",
            "RSA_KEY_GENERATE_FAILED",
            "RSA_KEY_LENGTH_ERROR",
            "RSA_KEY_PAIR_EXPIRING_SOON",
            "RSA_KEY_PAIR_MISMATCH",
            "RSA_KEY_PAIR_NOT_FOUND",
            "RSA_PRIVATE_KEY_NOT_FOUND",
            "RSA_PRIVATE_KEY_PARSE_ERROR",
            "RSA_PUBLIC_KEY_PARSE_ERROR",
            "RSA_SESSION_INVALID",
            "RSA_SESSION_REQUIRED",
            "SEE_OTHER",
            "SERVICE_UNAVAILABLE",
            "SESSION_EXPIRED",
            "SESSION_INVALID",
            "SUCCESS",
            "SWITCHING_PROTOCOLS",
            "SYSTEM_MAINTENANCE",
            "TEMPORARY_REDIRECT",
            "THIRD_PARTY_LOGIN_FAILED",
            "TOKEN_EXPIRED",
            "TOKEN_INVALID",
            "TOO_EARLY",
            "TOO_MANY_REQUESTS",
            "UNAUTHORIZED",
            "UNAVAILABLE_FOR_LEGAL_REASONS",
            "UNKNOWN_ERROR",
            "UNPROCESSABLE_ENTITY",
            "UNSUPPORTED_MEDIA_TYPE",
            "UPGRADE_REQUIRED",
            "URI_TOO_LONG",
            "USER_NOT_LOGIN",
            "USE_PROXY",
            "VARIANT_ALSO_NEGOTIATES",
            "VERSION_INCOMPATIBLE"
          ]
        },
        "msg": {
          "type": "string",
          "description": "错误信息:成功时为空或为success"
        },
        "result": {
          "$ref": "#/definitions/Result"
        },
        "session": {
          "type": "string"
        },
        "success": {
          "type": "boolean"
        }
      },
      "title": "ResponseOfBalance"
    },
    "ResponseOfCertificateCode": {
      "type": "object",
      "required": [
        "code"
      ],
      "properties": {
        "action": {
          "type": "string",
          "enum": [
            "GET_AES_KEY",
            "NONE",
            "REFRESH_SERVER_PUBLIC_KEY",
            "RETRY_LATER",
            "RE_LOGIN",
            "UPDATE_CLIENT_VERSION",
            "UPLOAD_CLIENT_PUBLIC_KEY"
          ]
        },
        "algorithm": {
          "type": "string"
        },
        "ciphertext": {
          "type": "string"
        },
        "code": {
          "type": "integer",
          "format": "int32",
          "description": "响应代码"
        },
        "data": {
          "description": "响应数据",
          "$ref": "#/definitions/CertificateCode"
        },
        "error": {
          "type": "string",
          "enum": [
            "ACCEPTED",
            "ACCESS_RATE_LIMIT",
            "ACCOUNT_CANCELLED",
            "ACCOUNT_DISABLED",
            "ACCOUNT_LOCKED",
            "ACCOUNT_NOT_ACTIVATED",
            "AES_DECRYPTED_DATA_EMPTY",
            "AES_DECRYPT_FAILED",
            "AES_ENCRYPTED_DATA_EMPTY",
            "AES_ENCRYPT_FAILED",
            "AES_KEY_EXPIRED",
            "AES_KEY_EXPIRING_SOON",
            "AES_KEY_FORMAT_ERROR",
            "AES_KEY_GENERATE_FAILED",
            "AES_KEY_LENGTH_ERROR",
            "AES_KEY_NOT_FOUND",
            "AES_MODE_NOT_SUPPORTED",
            "AES_PADDING_NOT_SUPPORTED",
            "AES_VECTOR_FORMAT_ERROR",
            "AES_VECTOR_LENGTH_ERROR",
            "ALREADY_REPORTED",
            "BAD_GATEWAY",
            "BAD_REQUEST",
            "BUSINESS_ERROR",
            "CAPTCHA_ERROR",
            "CAPTCHA_EXPIRED",
            "CONFLICT",
            "CONTINUE",
            "CREATED",
            "DATABASE_BACKUP_FAILED",
            "DATABASE_CHECK_CONSTRAINT_VIOLATION",
            "DATABASE_COLUMN_NOT_FOUND",
            "DATABASE_CONNECTION_FAILED",
            "DATABASE_CONNECTION_POOL_EXHAUSTED",
            "DATABASE_DEADLOCK",
            "DATABASE_DELETE_FAILED",
            "DATABASE_DUPLICATE_KEY",
            "DATABASE_FOREIGN_KEY_VIOLATION",
            "DATABASE_INDEX_NOT_FOUND",
            "DATABASE_INSERT_FAILED",
            "DATABASE_NOT_NULL_VIOLATION",
            "DATABASE_OPERATION_FAILED",
            "DATABASE_PERMISSION_DENIED",
            "DATABASE_QUERY_FAILED",
            "DATABASE_READ_ONLY",
            "DATABASE_RESTORE_FAILED",
            "DATABASE_SQL_SYNTAX_ERROR",
            "DATABASE_TABLE_NOT_FOUND",
            "DATABASE_TIMEOUT",
            "DATABASE_TRANSACTION_FAILED",
            "DATABASE_UNIQUE_CONSTRAINT_VIOLATION",
            "DATABASE_UPDATE_FAILED",
            "DATABASE_VERSION_INCOMPATIBLE",
            "DATA_ALREADY_EXISTS",
            "DATA_CONSTRAINT_VIOLATION",
            "DATA_FORMAT_ERROR",
            "DATA_INTEGRITY_ERROR",
            "DATA_NOT_FOUND",
            "DATA_RANGE_ERROR",
            "DATA_RELATION_ERROR",
            "DATA_STATUS_ERROR",
            "DATA_VERSION_CONFLICT",
            "EARLY_HINTS",
            "EXPECTATION_FAILED",
            "FAILED_DEPENDENCY",
            "FEATURE_NOT_AVAILABLE",
            "FORBIDDEN",
            "FORCE_ENCRYPT_REQUEST_REQUIRED",
            "FORCE_ENCRYPT_SESSION_REQUIRED",
            "FOUND",
            "GATEWAY_TIMEOUT",
            "GONE",
            "HTTP_VERSION_NOT_SUPPORTED",
            "IM_USED",
            "INSUFFICIENT_STORAGE",
            "INTERNAL_SERVER_ERROR",
            "IP_FORBIDDEN",
            "LENGTH_REQUIRED",
            "LOCKED",
            "LOGIN_EXPIRED",
            "LOGIN_FAILED",
            "LOOP_DETECTED",
            "METHOD_NOT_ALLOWED",
            "MOVED_PERMANENTLY",
            "MULTIPLE_CHOICES",
            "MULTI_STATUS",
            "NETWORK_AUTHENTICATION_REQUIRED",
            "NON_AUTHORITATIVE_INFORMATION",
            "NOT_ACCEPTABLE",
            "NOT_EXTENDED",
            "NOT_FOUND",
            "NOT_IMPLEMENTED",
            "NOT_MODIFIED",
            "NO_CONTENT",
            "OK",
            "OPERATION_NOT_ALLOWED",
            "OPERATION_TIMEOUT",
            "PARTIAL_CONTENT",
            "PASSWORD_EXPIRED",
            "PASSWORD_WEAK",
            "PAYLOAD_TOO_LARGE",
            "PAYMENT_REQUIRED",
            "PERMANENT_REDIRECT",
            "PERMISSION_DENIED",
            "PRECONDITION_FAILED",
            "PRECONDITION_REQUIRED",
            "PROCESSING",
            "PROXY_AUTHENTICATION_REQUIRED",
            "RANGE_NOT_SATISFIABLE",
            "REFRESH_TOKEN_EXPIRED",
            "REFRESH_TOKEN_INVALID",
            "REQUEST_HEADER_FIELDS_TOO_LARGE",
            "REQUEST_TIMEOUT",
            "RESET_CONTENT",
            "RESOURCE_LOCKED",
            "RSA_CLIENT_PUBLIC_KEY_EXPIRING_SOON",
            "RSA_CLIENT_PUBLIC_KEY_NOT_FOUND",
            "RSA_DECRYPT_FAILED",
            "RSA_ENCRYPT_FAILED",
            "RSA_KEY_FORMAT_ERROR",
            "RSA_KEY_GENERATE_FAILED",
            "RSA_KEY_LENGTH_ERROR",
            "RSA_KEY_PAIR_EXPIRING_SOON",
            "RSA_KEY_PAIR_MISMATCH",
            "RSA_KEY_PAIR_NOT_FOUND",
            "RSA_PRIVATE_KEY_NOT_FOUND",
            "RSA_PRIVATE_KEY_PARSE_ERROR",
            "RSA_PUBLIC_KEY_PARSE_ERROR",
            "RSA_SESSION_INVALID",
            "RSA_SESSION_REQUIRED",
            "SEE_OTHER",
            "SERVICE_UNAVAILABLE",
            "SESSION_EXPIRED",
            "SESSION_INVALID",
            "SUCCESS",
            "SWITCHING_PROTOCOLS",
            "SYSTEM_MAINTENANCE",
            "TEMPORARY_REDIRECT",
            "THIRD_PARTY_LOGIN_FAILED",
            "TOKEN_EXPIRED",
            "TOKEN_INVALID",
            "TOO_EARLY",
            "TOO_MANY_REQUESTS",
            "UNAUTHORIZED",
            "UNAVAILABLE_FOR_LEGAL_REASONS",
            "UNKNOWN_ERROR",
            "UNPROCESSABLE_ENTITY",
            "UNSUPPORTED_MEDIA_TYPE",
            "UPGRADE_REQUIRED",
            "URI_TOO_LONG",
            "USER_NOT_LOGIN",
            "USE_PROXY",
            "VARIANT_ALSO_NEGOTIATES",
            "VERSION_INCOMPATIBLE"
          ]
        },
        "msg": {
          "type": "string",
          "description": "错误信息:成功时为空或为success"
        },
        "result": {
          "$ref": "#/definitions/Result"
        },
        "session": {
          "type": "string"
        },
        "success": {
          "type": "boolean"
        }
      },
      "title": "ResponseOfCertificateCode"
    },
    "ResponseOfListOfPersonalCertificate": {
      "type": "object",
      "required": [
        "code"
      ],
      "properties": {
        "action": {
          "type": "string",
          "enum": [
            "GET_AES_KEY",
            "NONE",
            "REFRESH_SERVER_PUBLIC_KEY",
            "RETRY_LATER",
            "RE_LOGIN",
            "UPDATE_CLIENT_VERSION",
            "UPLOAD_CLIENT_PUBLIC_KEY"
          ]
        },
        "algorithm": {
          "type": "string"
        },
        "ciphertext": {
          "type": "string"
        },
        "code": {
          "type": "integer",
          "format": "int32",
          "description": "响应代码"
        },
        "data": {
          "type": "array",
          "description": "响应数据",
          "items": {
            "$ref": "#/definitions/PersonalCertificate"
          }
        },
        "error": {
          "type": "string",
          "enum": [
            "ACCEPTED",
            "ACCESS_RATE_LIMIT",
            "ACCOUNT_CANCELLED",
            "ACCOUNT_DISABLED",
            "ACCOUNT_LOCKED",
            "ACCOUNT_NOT_ACTIVATED",
            "AES_DECRYPTED_DATA_EMPTY",
            "AES_DECRYPT_FAILED",
            "AES_ENCRYPTED_DATA_EMPTY",
            "AES_ENCRYPT_FAILED",
            "AES_KEY_EXPIRED",
            "AES_KEY_EXPIRING_SOON",
            "AES_KEY_FORMAT_ERROR",
            "AES_KEY_GENERATE_FAILED",
            "AES_KEY_LENGTH_ERROR",
            "AES_KEY_NOT_FOUND",
            "AES_MODE_NOT_SUPPORTED",
            "AES_PADDING_NOT_SUPPORTED",
            "AES_VECTOR_FORMAT_ERROR",
            "AES_VECTOR_LENGTH_ERROR",
            "ALREADY_REPORTED",
            "BAD_GATEWAY",
            "BAD_REQUEST",
            "BUSINESS_ERROR",
            "CAPTCHA_ERROR",
            "CAPTCHA_EXPIRED",
            "CONFLICT",
            "CONTINUE",
            "CREATED",
            "DATABASE_BACKUP_FAILED",
            "DATABASE_CHECK_CONSTRAINT_VIOLATION",
            "DATABASE_COLUMN_NOT_FOUND",
            "DATABASE_CONNECTION_FAILED",
            "DATABASE_CONNECTION_POOL_EXHAUSTED",
            "DATABASE_DEADLOCK",
            "DATABASE_DELETE_FAILED",
            "DATABASE_DUPLICATE_KEY",
            "DATABASE_FOREIGN_KEY_VIOLATION",
            "DATABASE_INDEX_NOT_FOUND",
            "DATABASE_INSERT_FAILED",
            "DATABASE_NOT_NULL_VIOLATION",
            "DATABASE_OPERATION_FAILED",
            "DATABASE_PERMISSION_DENIED",
            "DATABASE_QUERY_FAILED",
            "DATABASE_READ_ONLY",
            "DATABASE_RESTORE_FAILED",
            "DATABASE_SQL_SYNTAX_ERROR",
            "DATABASE_TABLE_NOT_FOUND",
            "DATABASE_TIMEOUT",
            "DATABASE_TRANSACTION_FAILED",
            "DATABASE_UNIQUE_CONSTRAINT_VIOLATION",
            "DATABASE_UPDATE_FAILED",
            "DATABASE_VERSION_INCOMPATIBLE",
            "DATA_ALREADY_EXISTS",
            "DATA_CONSTRAINT_VIOLATION",
            "DATA_FORMAT_ERROR",
            "DATA_INTEGRITY_ERROR",
            "DATA_NOT_FOUND",
            "DATA_RANGE_ERROR",
            "DATA_RELATION_ERROR",
            "DATA_STATUS_ERROR",
            "DATA_VERSION_CONFLICT",
            "EARLY_HINTS",
            "EXPECTATION_FAILED",
            "FAILED_DEPENDENCY",
            "FEATURE_NOT_AVAILABLE",
            "FORBIDDEN",
            "FORCE_ENCRYPT_REQUEST_REQUIRED",
            "FORCE_ENCRYPT_SESSION_REQUIRED",
            "FOUND",
            "GATEWAY_TIMEOUT",
            "GONE",
            "HTTP_VERSION_NOT_SUPPORTED",
            "IM_USED",
            "INSUFFICIENT_STORAGE",
            "INTERNAL_SERVER_ERROR",
            "IP_FORBIDDEN",
            "LENGTH_REQUIRED",
            "LOCKED",
            "LOGIN_EXPIRED",
            "LOGIN_FAILED",
            "LOOP_DETECTED",
            "METHOD_NOT_ALLOWED",
            "MOVED_PERMANENTLY",
            "MULTIPLE_CHOICES",
            "MULTI_STATUS",
            "NETWORK_AUTHENTICATION_REQUIRED",
            "NON_AUTHORITATIVE_INFORMATION",
            "NOT_ACCEPTABLE",
            "NOT_EXTENDED",
            "NOT_FOUND",
            "NOT_IMPLEMENTED",
            "NOT_MODIFIED",
            "NO_CONTENT",
            "OK",
            "OPERATION_NOT_ALLOWED",
            "OPERATION_TIMEOUT",
            "PARTIAL_CONTENT",
            "PASSWORD_EXPIRED",
            "PASSWORD_WEAK",
            "PAYLOAD_TOO_LARGE",
            "PAYMENT_REQUIRED",
            "PERMANENT_REDIRECT",
            "PERMISSION_DENIED",
            "PRECONDITION_FAILED",
            "PRECONDITION_REQUIRED",
            "PROCESSING",
            "PROXY_AUTHENTICATION_REQUIRED",
            "RANGE_NOT_SATISFIABLE",
            "REFRESH_TOKEN_EXPIRED",
            "REFRESH_TOKEN_INVALID",
            "REQUEST_HEADER_FIELDS_TOO_LARGE",
            "REQUEST_TIMEOUT",
            "RESET_CONTENT",
            "RESOURCE_LOCKED",
            "RSA_CLIENT_PUBLIC_KEY_EXPIRING_SOON",
            "RSA_CLIENT_PUBLIC_KEY_NOT_FOUND",
            "RSA_DECRYPT_FAILED",
            "RSA_ENCRYPT_FAILED",
            "RSA_KEY_FORMAT_ERROR",
            "RSA_KEY_GENERATE_FAILED",
            "RSA_KEY_LENGTH_ERROR",
            "RSA_KEY_PAIR_EXPIRING_SOON",
            "RSA_KEY_PAIR_MISMATCH",
            "RSA_KEY_PAIR_NOT_FOUND",
            "RSA_PRIVATE_KEY_NOT_FOUND",
            "RSA_PRIVATE_KEY_PARSE_ERROR",
            "RSA_PUBLIC_KEY_PARSE_ERROR",
            "RSA_SESSION_INVALID",
            "RSA_SESSION_REQUIRED",
            "SEE_OTHER",
            "SERVICE_UNAVAILABLE",
            "SESSION_EXPIRED",
            "SESSION_INVALID",
            "SUCCESS",
            "SWITCHING_PROTOCOLS",
            "SYSTEM_MAINTENANCE",
            "TEMPORARY_REDIRECT",
            "THIRD_PARTY_LOGIN_FAILED",
            "TOKEN_EXPIRED",
            "TOKEN_INVALID",
            "TOO_EARLY",
            "TOO_MANY_REQUESTS",
            "UNAUTHORIZED",
            "UNAVAILABLE_FOR_LEGAL_REASONS",
            "UNKNOWN_ERROR",
            "UNPROCESSABLE_ENTITY",
            "UNSUPPORTED_MEDIA_TYPE",
            "UPGRADE_REQUIRED",
            "URI_TOO_LONG",
            "USER_NOT_LOGIN",
            "USE_PROXY",
            "VARIANT_ALSO_NEGOTIATES",
            "VERSION_INCOMPATIBLE"
          ]
        },
        "msg": {
          "type": "string",
          "description": "错误信息:成功时为空或为success"
        },
        "result": {
          "$ref": "#/definitions/Result"
        },
        "session": {
          "type": "string"
        },
        "success": {
          "type": "boolean"
        }
      },
      "title": "ResponseOfListOfPersonalCertificate"
    },
    "ResponseOfListOfRenewable": {
      "type": "object",
      "required": [
        "code"
      ],
      "properties": {
        "action": {
          "type": "string",
          "enum": [
            "GET_AES_KEY",
            "NONE",
            "REFRESH_SERVER_PUBLIC_KEY",
            "RETRY_LATER",
            "RE_LOGIN",
            "UPDATE_CLIENT_VERSION",
            "UPLOAD_CLIENT_PUBLIC_KEY"
          ]
        },
        "algorithm": {
          "type": "string"
        },
        "ciphertext": {
          "type": "string"
        },
        "code": {
          "type": "integer",
          "format": "int32",
          "description": "响应代码"
        },
        "data": {
          "type": "array",
          "description": "响应数据",
          "items": {
            "$ref": "#/definitions/Renewable"
          }
        },
        "error": {
          "type": "string",
          "enum": [
            "ACCEPTED",
            "ACCESS_RATE_LIMIT",
            "ACCOUNT_CANCELLED",
            "ACCOUNT_DISABLED",
            "ACCOUNT_LOCKED",
            "ACCOUNT_NOT_ACTIVATED",
            "AES_DECRYPTED_DATA_EMPTY",
            "AES_DECRYPT_FAILED",
            "AES_ENCRYPTED_DATA_EMPTY",
            "AES_ENCRYPT_FAILED",
            "AES_KEY_EXPIRED",
            "AES_KEY_EXPIRING_SOON",
            "AES_KEY_FORMAT_ERROR",
            "AES_KEY_GENERATE_FAILED",
            "AES_KEY_LENGTH_ERROR",
            "AES_KEY_NOT_FOUND",
            "AES_MODE_NOT_SUPPORTED",
            "AES_PADDING_NOT_SUPPORTED",
            "AES_VECTOR_FORMAT_ERROR",
            "AES_VECTOR_LENGTH_ERROR",
            "ALREADY_REPORTED",
            "BAD_GATEWAY",
            "BAD_REQUEST",
            "BUSINESS_ERROR",
            "CAPTCHA_ERROR",
            "CAPTCHA_EXPIRED",
            "CONFLICT",
            "CONTINUE",
            "CREATED",
            "DATABASE_BACKUP_FAILED",
            "DATABASE_CHECK_CONSTRAINT_VIOLATION",
            "DATABASE_COLUMN_NOT_FOUND",
            "DATABASE_CONNECTION_FAILED",
            "DATABASE_CONNECTION_POOL_EXHAUSTED",
            "DATABASE_DEADLOCK",
            "DATABASE_DELETE_FAILED",
            "DATABASE_DUPLICATE_KEY",
            "DATABASE_FOREIGN_KEY_VIOLATION",
            "DATABASE_INDEX_NOT_FOUND",
            "DATABASE_INSERT_FAILED",
            "DATABASE_NOT_NULL_VIOLATION",
            "DATABASE_OPERATION_FAILED",
            "DATABASE_PERMISSION_DENIED",
            "DATABASE_QUERY_FAILED",
            "DATABASE_READ_ONLY",
            "DATABASE_RESTORE_FAILED",
            "DATABASE_SQL_SYNTAX_ERROR",
            "DATABASE_TABLE_NOT_FOUND",
            "DATABASE_TIMEOUT",
            "DATABASE_TRANSACTION_FAILED",
            "DATABASE_UNIQUE_CONSTRAINT_VIOLATION",
            "DATABASE_UPDATE_FAILED",
            "DATABASE_VERSION_INCOMPATIBLE",
            "DATA_ALREADY_EXISTS",
            "DATA_CONSTRAINT_VIOLATION",
            "DATA_FORMAT_ERROR",
            "DATA_INTEGRITY_ERROR",
            "DATA_NOT_FOUND",
            "DATA_RANGE_ERROR",
            "DATA_RELATION_ERROR",
            "DATA_STATUS_ERROR",
            "DATA_VERSION_CONFLICT",
            "EARLY_HINTS",
            "EXPECTATION_FAILED",
            "FAILED_DEPENDENCY",
            "FEATURE_NOT_AVAILABLE",
            "FORBIDDEN",
            "FORCE_ENCRYPT_REQUEST_REQUIRED",
            "FORCE_ENCRYPT_SESSION_REQUIRED",
            "FOUND",
            "GATEWAY_TIMEOUT",
            "GONE",
            "HTTP_VERSION_NOT_SUPPORTED",
            "IM_USED",
            "INSUFFICIENT_STORAGE",
            "INTERNAL_SERVER_ERROR",
            "IP_FORBIDDEN",
            "LENGTH_REQUIRED",
            "LOCKED",
            "LOGIN_EXPIRED",
            "LOGIN_FAILED",
            "LOOP_DETECTED",
            "METHOD_NOT_ALLOWED",
            "MOVED_PERMANENTLY",
            "MULTIPLE_CHOICES",
            "MULTI_STATUS",
            "NETWORK_AUTHENTICATION_REQUIRED",
            "NON_AUTHORITATIVE_INFORMATION",
            "NOT_ACCEPTABLE",
            "NOT_EXTENDED",
            "NOT_FOUND",
            "NOT_IMPLEMENTED",
            "NOT_MODIFIED",
            "NO_CONTENT",
            "OK",
            "OPERATION_NOT_ALLOWED",
            "OPERATION_TIMEOUT",
            "PARTIAL_CONTENT",
            "PASSWORD_EXPIRED",
            "PASSWORD_WEAK",
            "PAYLOAD_TOO_LARGE",
            "PAYMENT_REQUIRED",
            "PERMANENT_REDIRECT",
            "PERMISSION_DENIED",
            "PRECONDITION_FAILED",
            "PRECONDITION_REQUIRED",
            "PROCESSING",
            "PROXY_AUTHENTICATION_REQUIRED",
            "RANGE_NOT_SATISFIABLE",
            "REFRESH_TOKEN_EXPIRED",
            "REFRESH_TOKEN_INVALID",
            "REQUEST_HEADER_FIELDS_TOO_LARGE",
            "REQUEST_TIMEOUT",
            "RESET_CONTENT",
            "RESOURCE_LOCKED",
            "RSA_CLIENT_PUBLIC_KEY_EXPIRING_SOON",
            "RSA_CLIENT_PUBLIC_KEY_NOT_FOUND",
            "RSA_DECRYPT_FAILED",
            "RSA_ENCRYPT_FAILED",
            "RSA_KEY_FORMAT_ERROR",
            "RSA_KEY_GENERATE_FAILED",
            "RSA_KEY_LENGTH_ERROR",
            "RSA_KEY_PAIR_EXPIRING_SOON",
            "RSA_KEY_PAIR_MISMATCH",
            "RSA_KEY_PAIR_NOT_FOUND",
            "RSA_PRIVATE_KEY_NOT_FOUND",
            "RSA_PRIVATE_KEY_PARSE_ERROR",
            "RSA_PUBLIC_KEY_PARSE_ERROR",
            "RSA_SESSION_INVALID",
            "RSA_SESSION_REQUIRED",
            "SEE_OTHER",
            "SERVICE_UNAVAILABLE",
            "SESSION_EXPIRED",
            "SESSION_INVALID",
            "SUCCESS",
            "SWITCHING_PROTOCOLS",
            "SYSTEM_MAINTENANCE",
            "TEMPORARY_REDIRECT",
            "THIRD_PARTY_LOGIN_FAILED",
            "TOKEN_EXPIRED",
            "TOKEN_INVALID",
            "TOO_EARLY",
            "TOO_MANY_REQUESTS",
            "UNAUTHORIZED",
            "UNAVAILABLE_FOR_LEGAL_REASONS",
            "UNKNOWN_ERROR",
            "UNPROCESSABLE_ENTITY",
            "UNSUPPORTED_MEDIA_TYPE",
            "UPGRADE_REQUIRED",
            "URI_TOO_LONG",
            "USER_NOT_LOGIN",
            "USE_PROXY",
            "VARIANT_ALSO_NEGOTIATES",
            "VERSION_INCOMPATIBLE"
          ]
        },
        "msg": {
          "type": "string",
          "description": "错误信息:成功时为空或为success"
        },
        "result": {
          "$ref": "#/definitions/Result"
        },
        "session": {
          "type": "string"
        },
        "success": {
          "type": "boolean"
        }
      },
      "title": "ResponseOfListOfRenewable"
    },
    "ResponseOfPersonalCertificate": {
      "type": "object",
      "required": [
        "code"
      ],
      "properties": {
        "action": {
          "type": "string",
          "enum": [
            "GET_AES_KEY",
            "NONE",
            "REFRESH_SERVER_PUBLIC_KEY",
            "RETRY_LATER",
            "RE_LOGIN",
            "UPDATE_CLIENT_VERSION",
            "UPLOAD_CLIENT_PUBLIC_KEY"
          ]
        },
        "algorithm": {
          "type": "string"
        },
        "ciphertext": {
          "type": "string"
        },
        "code": {
          "type": "integer",
          "format": "int32",
          "description": "响应代码"
        },
        "data": {
          "description": "响应数据",
          "$ref": "#/definitions/PersonalCertificate"
        },
        "error": {
          "type": "string",
          "enum": [
            "ACCEPTED",
            "ACCESS_RATE_LIMIT",
            "ACCOUNT_CANCELLED",
            "ACCOUNT_DISABLED",
            "ACCOUNT_LOCKED",
            "ACCOUNT_NOT_ACTIVATED",
            "AES_DECRYPTED_DATA_EMPTY",
            "AES_DECRYPT_FAILED",
            "AES_ENCRYPTED_DATA_EMPTY",
            "AES_ENCRYPT_FAILED",
            "AES_KEY_EXPIRED",
            "AES_KEY_EXPIRING_SOON",
            "AES_KEY_FORMAT_ERROR",
            "AES_KEY_GENERATE_FAILED",
            "AES_KEY_LENGTH_ERROR",
            "AES_KEY_NOT_FOUND",
            "AES_MODE_NOT_SUPPORTED",
            "AES_PADDING_NOT_SUPPORTED",
            "AES_VECTOR_FORMAT_ERROR",
            "AES_VECTOR_LENGTH_ERROR",
            "ALREADY_REPORTED",
            "BAD_GATEWAY",
            "BAD_REQUEST",
            "BUSINESS_ERROR",
            "CAPTCHA_ERROR",
            "CAPTCHA_EXPIRED",
            "CONFLICT",
            "CONTINUE",
            "CREATED",
            "DATABASE_BACKUP_FAILED",
            "DATABASE_CHECK_CONSTRAINT_VIOLATION",
            "DATABASE_COLUMN_NOT_FOUND",
            "DATABASE_CONNECTION_FAILED",
            "DATABASE_CONNECTION_POOL_EXHAUSTED",
            "DATABASE_DEADLOCK",
            "DATABASE_DELETE_FAILED",
            "DATABASE_DUPLICATE_KEY",
            "DATABASE_FOREIGN_KEY_VIOLATION",
            "DATABASE_INDEX_NOT_FOUND",
            "DATABASE_INSERT_FAILED",
            "DATABASE_NOT_NULL_VIOLATION",
            "DATABASE_OPERATION_FAILED",
            "DATABASE_PERMISSION_DENIED",
            "DATABASE_QUERY_FAILED",
            "DATABASE_READ_ONLY",
            "DATABASE_RESTORE_FAILED",
            "DATABASE_SQL_SYNTAX_ERROR",
            "DATABASE_TABLE_NOT_FOUND",
            "DATABASE_TIMEOUT",
            "DATABASE_TRANSACTION_FAILED",
            "DATABASE_UNIQUE_CONSTRAINT_VIOLATION",
            "DATABASE_UPDATE_FAILED",
            "DATABASE_VERSION_INCOMPATIBLE",
            "DATA_ALREADY_EXISTS",
            "DATA_CONSTRAINT_VIOLATION",
            "DATA_FORMAT_ERROR",
            "DATA_INTEGRITY_ERROR",
            "DATA_NOT_FOUND",
            "DATA_RANGE_ERROR",
            "DATA_RELATION_ERROR",
            "DATA_STATUS_ERROR",
            "DATA_VERSION_CONFLICT",
            "EARLY_HINTS",
            "EXPECTATION_FAILED",
            "FAILED_DEPENDENCY",
            "FEATURE_NOT_AVAILABLE",
            "FORBIDDEN",
            "FORCE_ENCRYPT_REQUEST_REQUIRED",
            "FORCE_ENCRYPT_SESSION_REQUIRED",
            "FOUND",
            "GATEWAY_TIMEOUT",
            "GONE",
            "HTTP_VERSION_NOT_SUPPORTED",
            "IM_USED",
            "INSUFFICIENT_STORAGE",
            "INTERNAL_SERVER_ERROR",
            "IP_FORBIDDEN",
            "LENGTH_REQUIRED",
            "LOCKED",
            "LOGIN_EXPIRED",
            "LOGIN_FAILED",
            "LOOP_DETECTED",
            "METHOD_NOT_ALLOWED",
            "MOVED_PERMANENTLY",
            "MULTIPLE_CHOICES",
            "MULTI_STATUS",
            "NETWORK_AUTHENTICATION_REQUIRED",
            "NON_AUTHORITATIVE_INFORMATION",
            "NOT_ACCEPTABLE",
            "NOT_EXTENDED",
            "NOT_FOUND",
            "NOT_IMPLEMENTED",
            "NOT_MODIFIED",
            "NO_CONTENT",
            "OK",
            "OPERATION_NOT_ALLOWED",
            "OPERATION_TIMEOUT",
            "PARTIAL_CONTENT",
            "PASSWORD_EXPIRED",
            "PASSWORD_WEAK",
            "PAYLOAD_TOO_LARGE",
            "PAYMENT_REQUIRED",
            "PERMANENT_REDIRECT",
            "PERMISSION_DENIED",
            "PRECONDITION_FAILED",
            "PRECONDITION_REQUIRED",
            "PROCESSING",
            "PROXY_AUTHENTICATION_REQUIRED",
            "RANGE_NOT_SATISFIABLE",
            "REFRESH_TOKEN_EXPIRED",
            "REFRESH_TOKEN_INVALID",
            "REQUEST_HEADER_FIELDS_TOO_LARGE",
            "REQUEST_TIMEOUT",
            "RESET_CONTENT",
            "RESOURCE_LOCKED",
            "RSA_CLIENT_PUBLIC_KEY_EXPIRING_SOON",
            "RSA_CLIENT_PUBLIC_KEY_NOT_FOUND",
            "RSA_DECRYPT_FAILED",
            "RSA_ENCRYPT_FAILED",
            "RSA_KEY_FORMAT_ERROR",
            "RSA_KEY_GENERATE_FAILED",
            "RSA_KEY_LENGTH_ERROR",
            "RSA_KEY_PAIR_EXPIRING_SOON",
            "RSA_KEY_PAIR_MISMATCH",
            "RSA_KEY_PAIR_NOT_FOUND",
            "RSA_PRIVATE_KEY_NOT_FOUND",
            "RSA_PRIVATE_KEY_PARSE_ERROR",
            "RSA_PUBLIC_KEY_PARSE_ERROR",
            "RSA_SESSION_INVALID",
            "RSA_SESSION_REQUIRED",
            "SEE_OTHER",
            "SERVICE_UNAVAILABLE",
            "SESSION_EXPIRED",
            "SESSION_INVALID",
            "SUCCESS",
            "SWITCHING_PROTOCOLS",
            "SYSTEM_MAINTENANCE",
            "TEMPORARY_REDIRECT",
            "THIRD_PARTY_LOGIN_FAILED",
            "TOKEN_EXPIRED",
            "TOKEN_INVALID",
            "TOO_EARLY",
            "TOO_MANY_REQUESTS",
            "UNAUTHORIZED",
            "UNAVAILABLE_FOR_LEGAL_REASONS",
            "UNKNOWN_ERROR",
            "UNPROCESSABLE_ENTITY",
            "UNSUPPORTED_MEDIA_TYPE",
            "UPGRADE_REQUIRED",
            "URI_TOO_LONG",
            "USER_NOT_LOGIN",
            "USE_PROXY",
            "VARIANT_ALSO_NEGOTIATES",
            "VERSION_INCOMPATIBLE"
          ]
        },
        "msg": {
          "type": "string",
          "description": "错误信息:成功时为空或为success"
        },
        "result": {
          "$ref": "#/definitions/Result"
        },
        "session": {
          "type": "string"
        },
        "success": {
          "type": "boolean"
        }
      },
      "title": "ResponseOfPersonalCertificate"
    },
    "ResponseOfStatus": {
      "type": "object",
      "required": [
        "code"
      ],
      "properties": {
        "action": {
          "type": "string",
          "enum": [
            "GET_AES_KEY",
            "NONE",
            "REFRESH_SERVER_PUBLIC_KEY",
            "RETRY_LATER",
            "RE_LOGIN",
            "UPDATE_CLIENT_VERSION",
            "UPLOAD_CLIENT_PUBLIC_KEY"
          ]
        },
        "algorithm": {
          "type": "string"
        },
        "ciphertext": {
          "type": "string"
        },
        "code": {
          "type": "integer",
          "format": "int32",
          "description": "响应代码"
        },
        "data": {
          "description": "响应数据",
          "$ref": "#/definitions/Status"
        },
        "error": {
          "type": "string",
          "enum": [
            "ACCEPTED",
            "ACCESS_RATE_LIMIT",
            "ACCOUNT_CANCELLED",
            "ACCOUNT_DISABLED",
            "ACCOUNT_LOCKED",
            "ACCOUNT_NOT_ACTIVATED",
            "AES_DECRYPTED_DATA_EMPTY",
            "AES_DECRYPT_FAILED",
            "AES_ENCRYPTED_DATA_EMPTY",
            "AES_ENCRYPT_FAILED",
            "AES_KEY_EXPIRED",
            "AES_KEY_EXPIRING_SOON",
            "AES_KEY_FORMAT_ERROR",
            "AES_KEY_GENERATE_FAILED",
            "AES_KEY_LENGTH_ERROR",
            "AES_KEY_NOT_FOUND",
            "AES_MODE_NOT_SUPPORTED",
            "AES_PADDING_NOT_SUPPORTED",
            "AES_VECTOR_FORMAT_ERROR",
            "AES_VECTOR_LENGTH_ERROR",
            "ALREADY_REPORTED",
            "BAD_GATEWAY",
            "BAD_REQUEST",
            "BUSINESS_ERROR",
            "CAPTCHA_ERROR",
            "CAPTCHA_EXPIRED",
            "CONFLICT",
            "CONTINUE",
            "CREATED",
            "DATABASE_BACKUP_FAILED",
            "DATABASE_CHECK_CONSTRAINT_VIOLATION",
            "DATABASE_COLUMN_NOT_FOUND",
            "DATABASE_CONNECTION_FAILED",
            "DATABASE_CONNECTION_POOL_EXHAUSTED",
            "DATABASE_DEADLOCK",
            "DATABASE_DELETE_FAILED",
            "DATABASE_DUPLICATE_KEY",
            "DATABASE_FOREIGN_KEY_VIOLATION",
            "DATABASE_INDEX_NOT_FOUND",
            "DATABASE_INSERT_FAILED",
            "DATABASE_NOT_NULL_VIOLATION",
            "DATABASE_OPERATION_FAILED",
            "DATABASE_PERMISSION_DENIED",
            "DATABASE_QUERY_FAILED",
            "DATABASE_READ_ONLY",
            "DATABASE_RESTORE_FAILED",
            "DATABASE_SQL_SYNTAX_ERROR",
            "DATABASE_TABLE_NOT_FOUND",
            "DATABASE_TIMEOUT",
            "DATABASE_TRANSACTION_FAILED",
            "DATABASE_UNIQUE_CONSTRAINT_VIOLATION",
            "DATABASE_UPDATE_FAILED",
            "DATABASE_VERSION_INCOMPATIBLE",
            "DATA_ALREADY_EXISTS",
            "DATA_CONSTRAINT_VIOLATION",
            "DATA_FORMAT_ERROR",
            "DATA_INTEGRITY_ERROR",
            "DATA_NOT_FOUND",
            "DATA_RANGE_ERROR",
            "DATA_RELATION_ERROR",
            "DATA_STATUS_ERROR",
            "DATA_VERSION_CONFLICT",
            "EARLY_HINTS",
            "EXPECTATION_FAILED",
            "FAILED_DEPENDENCY",
            "FEATURE_NOT_AVAILABLE",
            "FORBIDDEN",
            "FORCE_ENCRYPT_REQUEST_REQUIRED",
            "FORCE_ENCRYPT_SESSION_REQUIRED",
            "FOUND",
            "GATEWAY_TIMEOUT",
            "GONE",
            "HTTP_VERSION_NOT_SUPPORTED",
            "IM_USED",
            "INSUFFICIENT_STORAGE",
            "INTERNAL_SERVER_ERROR",
            "IP_FORBIDDEN",
            "LENGTH_REQUIRED",
            "LOCKED",
            "LOGIN_EXPIRED",
            "LOGIN_FAILED",
            "LOOP_DETECTED",
            "METHOD_NOT_ALLOWED",
            "MOVED_PERMANENTLY",
            "MULTIPLE_CHOICES",
            "MULTI_STATUS",
            "NETWORK_AUTHENTICATION_REQUIRED",
            "NON_AUTHORITATIVE_INFORMATION",
            "NOT_ACCEPTABLE",
            "NOT_EXTENDED",
            "NOT_FOUND",
            "NOT_IMPLEMENTED",
            "NOT_MODIFIED",
            "NO_CONTENT",
            "OK",
            "OPERATION_NOT_ALLOWED",
            "OPERATION_TIMEOUT",
            "PARTIAL_CONTENT",
            "PASSWORD_EXPIRED",
            "PASSWORD_WEAK",
            "PAYLOAD_TOO_LARGE",
            "PAYMENT_REQUIRED",
            "PERMANENT_REDIRECT",
            "PERMISSION_DENIED",
            "PRECONDITION_FAILED",
            "PRECONDITION_REQUIRED",
            "PROCESSING",
            "PROXY_AUTHENTICATION_REQUIRED",
            "RANGE_NOT_SATISFIABLE",
            "REFRESH_TOKEN_EXPIRED",
            "REFRESH_TOKEN_INVALID",
            "REQUEST_HEADER_FIELDS_TOO_LARGE",
            "REQUEST_TIMEOUT",
            "RESET_CONTENT",
            "RESOURCE_LOCKED",
            "RSA_CLIENT_PUBLIC_KEY_EXPIRING_SOON",
            "RSA_CLIENT_PUBLIC_KEY_NOT_FOUND",
            "RSA_DECRYPT_FAILED",
            "RSA_ENCRYPT_FAILED",
            "RSA_KEY_FORMAT_ERROR",
            "RSA_KEY_GENERATE_FAILED",
            "RSA_KEY_LENGTH_ERROR",
            "RSA_KEY_PAIR_EXPIRING_SOON",
            "RSA_KEY_PAIR_MISMATCH",
            "RSA_KEY_PAIR_NOT_FOUND",
            "RSA_PRIVATE_KEY_NOT_FOUND",
            "RSA_PRIVATE_KEY_PARSE_ERROR",
            "RSA_PUBLIC_KEY_PARSE_ERROR",
            "RSA_SESSION_INVALID",
            "RSA_SESSION_REQUIRED",
            "SEE_OTHER",
            "SERVICE_UNAVAILABLE",
            "SESSION_EXPIRED",
            "SESSION_INVALID",
            "SUCCESS",
            "SWITCHING_PROTOCOLS",
            "SYSTEM_MAINTENANCE",
            "TEMPORARY_REDIRECT",
            "THIRD_PARTY_LOGIN_FAILED",
            "TOKEN_EXPIRED",
            "TOKEN_INVALID",
            "TOO_EARLY",
            "TOO_MANY_REQUESTS",
            "UNAUTHORIZED",
            "UNAVAILABLE_FOR_LEGAL_REASONS",
            "UNKNOWN_ERROR",
            "UNPROCESSABLE_ENTITY",
            "UNSUPPORTED_MEDIA_TYPE",
            "UPGRADE_REQUIRED",
            "URI_TOO_LONG",
            "USER_NOT_LOGIN",
            "USE_PROXY",
            "VARIANT_ALSO_NEGOTIATES",
            "VERSION_INCOMPATIBLE"
          ]
        },
        "msg": {
          "type": "string",
          "description": "错误信息:成功时为空或为success"
        },
        "result": {
          "$ref": "#/definitions/Result"
        },
        "session": {
          "type": "string"
        },
        "success": {
          "type": "boolean"
        }
      },
      "title": "ResponseOfStatus"
    },
    "ResponseOfVersion": {
      "type": "object",
      "required": [
        "code"
      ],
      "properties": {
        "action": {
          "type": "string",
          "enum": [
            "GET_AES_KEY",
            "NONE",
            "REFRESH_SERVER_PUBLIC_KEY",
            "RETRY_LATER",
            "RE_LOGIN",
            "UPDATE_CLIENT_VERSION",
            "UPLOAD_CLIENT_PUBLIC_KEY"
          ]
        },
        "algorithm": {
          "type": "string"
        },
        "ciphertext": {
          "type": "string"
        },
        "code": {
          "type": "integer",
          "format": "int32",
          "description": "响应代码"
        },
        "data": {
          "description": "响应数据",
          "$ref": "#/definitions/Version"
        },
        "error": {
          "type": "string",
          "enum": [
            "ACCEPTED",
            "ACCESS_RATE_LIMIT",
            "ACCOUNT_CANCELLED",
            "ACCOUNT_DISABLED",
            "ACCOUNT_LOCKED",
            "ACCOUNT_NOT_ACTIVATED",
            "AES_DECRYPTED_DATA_EMPTY",
            "AES_DECRYPT_FAILED",
            "AES_ENCRYPTED_DATA_EMPTY",
            "AES_ENCRYPT_FAILED",
            "AES_KEY_EXPIRED",
            "AES_KEY_EXPIRING_SOON",
            "AES_KEY_FORMAT_ERROR",
            "AES_KEY_GENERATE_FAILED",
            "AES_KEY_LENGTH_ERROR",
            "AES_KEY_NOT_FOUND",
            "AES_MODE_NOT_SUPPORTED",
            "AES_PADDING_NOT_SUPPORTED",
            "AES_VECTOR_FORMAT_ERROR",
            "AES_VECTOR_LENGTH_ERROR",
            "ALREADY_REPORTED",
            "BAD_GATEWAY",
            "BAD_REQUEST",
            "BUSINESS_ERROR",
            "CAPTCHA_ERROR",
            "CAPTCHA_EXPIRED",
            "CONFLICT",
            "CONTINUE",
            "CREATED",
            "DATABASE_BACKUP_FAILED",
            "DATABASE_CHECK_CONSTRAINT_VIOLATION",
            "DATABASE_COLUMN_NOT_FOUND",
            "DATABASE_CONNECTION_FAILED",
            "DATABASE_CONNECTION_POOL_EXHAUSTED",
            "DATABASE_DEADLOCK",
            "DATABASE_DELETE_FAILED",
            "DATABASE_DUPLICATE_KEY",
            "DATABASE_FOREIGN_KEY_VIOLATION",
            "DATABASE_INDEX_NOT_FOUND",
            "DATABASE_INSERT_FAILED",
            "DATABASE_NOT_NULL_VIOLATION",
            "DATABASE_OPERATION_FAILED",
            "DATABASE_PERMISSION_DENIED",
            "DATABASE_QUERY_FAILED",
            "DATABASE_READ_ONLY",
            "DATABASE_RESTORE_FAILED",
            "DATABASE_SQL_SYNTAX_ERROR",
            "DATABASE_TABLE_NOT_FOUND",
            "DATABASE_TIMEOUT",
            "DATABASE_TRANSACTION_FAILED",
            "DATABASE_UNIQUE_CONSTRAINT_VIOLATION",
            "DATABASE_UPDATE_FAILED",
            "DATABASE_VERSION_INCOMPATIBLE",
            "DATA_ALREADY_EXISTS",
            "DATA_CONSTRAINT_VIOLATION",
            "DATA_FORMAT_ERROR",
            "DATA_INTEGRITY_ERROR",
            "DATA_NOT_FOUND",
            "DATA_RANGE_ERROR",
            "DATA_RELATION_ERROR",
            "DATA_STATUS_ERROR",
            "DATA_VERSION_CONFLICT",
            "EARLY_HINTS",
            "EXPECTATION_FAILED",
            "FAILED_DEPENDENCY",
            "FEATURE_NOT_AVAILABLE",
            "FORBIDDEN",
            "FORCE_ENCRYPT_REQUEST_REQUIRED",
            "FORCE_ENCRYPT_SESSION_REQUIRED",
            "FOUND",
            "GATEWAY_TIMEOUT",
            "GONE",
            "HTTP_VERSION_NOT_SUPPORTED",
            "IM_USED",
            "INSUFFICIENT_STORAGE",
            "INTERNAL_SERVER_ERROR",
            "IP_FORBIDDEN",
            "LENGTH_REQUIRED",
            "LOCKED",
            "LOGIN_EXPIRED",
            "LOGIN_FAILED",
            "LOOP_DETECTED",
            "METHOD_NOT_ALLOWED",
            "MOVED_PERMANENTLY",
            "MULTIPLE_CHOICES",
            "MULTI_STATUS",
            "NETWORK_AUTHENTICATION_REQUIRED",
            "NON_AUTHORITATIVE_INFORMATION",
            "NOT_ACCEPTABLE",
            "NOT_EXTENDED",
            "NOT_FOUND",
            "NOT_IMPLEMENTED",
            "NOT_MODIFIED",
            "NO_CONTENT",
            "OK",
            "OPERATION_NOT_ALLOWED",
            "OPERATION_TIMEOUT",
            "PARTIAL_CONTENT",
            "PASSWORD_EXPIRED",
            "PASSWORD_WEAK",
            "PAYLOAD_TOO_LARGE",
            "PAYMENT_REQUIRED",
            "PERMANENT_REDIRECT",
            "PERMISSION_DENIED",
            "PRECONDITION_FAILED",
            "PRECONDITION_REQUIRED",
            "PROCESSING",
            "PROXY_AUTHENTICATION_REQUIRED",
            "RANGE_NOT_SATISFIABLE",
            "REFRESH_TOKEN_EXPIRED",
            "REFRESH_TOKEN_INVALID",
            "REQUEST_HEADER_FIELDS_TOO_LARGE",
            "REQUEST_TIMEOUT",
            "RESET_CONTENT",
            "RESOURCE_LOCKED",
            "RSA_CLIENT_PUBLIC_KEY_EXPIRING_SOON",
            "RSA_CLIENT_PUBLIC_KEY_NOT_FOUND",
            "RSA_DECRYPT_FAILED",
            "RSA_ENCRYPT_FAILED",
            "RSA_KEY_FORMAT_ERROR",
            "RSA_KEY_GENERATE_FAILED",
            "RSA_KEY_LENGTH_ERROR",
            "RSA_KEY_PAIR_EXPIRING_SOON",
            "RSA_KEY_PAIR_MISMATCH",
            "RSA_KEY_PAIR_NOT_FOUND",
            "RSA_PRIVATE_KEY_NOT_FOUND",
            "RSA_PRIVATE_KEY_PARSE_ERROR",
            "RSA_PUBLIC_KEY_PARSE_ERROR",
            "RSA_SESSION_INVALID",
            "RSA_SESSION_REQUIRED",
            "SEE_OTHER",
            "SERVICE_UNAVAILABLE",
            "SESSION_EXPIRED",
            "SESSION_INVALID",
            "SUCCESS",
            "SWITCHING_PROTOCOLS",
            "SYSTEM_MAINTENANCE",
            "TEMPORARY_REDIRECT",
            "THIRD_PARTY_LOGIN_FAILED",
            "TOKEN_EXPIRED",
            "TOKEN_INVALID",
            "TOO_EARLY",
            "TOO_MANY_REQUESTS",
            "UNAUTHORIZED",
            "UNAVAILABLE_FOR_LEGAL_REASONS",
            "UNKNOWN_ERROR",
            "UNPROCESSABLE_ENTITY",
            "UNSUPPORTED_MEDIA_TYPE",
            "UPGRADE_REQUIRED",
            "URI_TOO_LONG",
            "USER_NOT_LOGIN",
            "USE_PROXY",
            "VARIANT_ALSO_NEGOTIATES",
            "VERSION_INCOMPATIBLE"
          ]
        },
        "msg": {
          "type": "string",
          "description": "错误信息:成功时为空或为success"
        },
        "result": {
          "$ref": "#/definitions/Result"
        },
        "session": {
          "type": "string"
        },
        "success": {
          "type": "boolean"
        }
      },
      "title": "ResponseOfVersion"
    },
    "ResponseOfstring": {
      "type": "object",
      "required": [
        "code"
      ],
      "properties": {
        "action": {
          "type": "string",
          "enum": [
            "GET_AES_KEY",
            "NONE",
            "REFRESH_SERVER_PUBLIC_KEY",
            "RETRY_LATER",
            "RE_LOGIN",
            "UPDATE_CLIENT_VERSION",
            "UPLOAD_CLIENT_PUBLIC_KEY"
          ]
        },
        "algorithm": {
          "type": "string"
        },
        "ciphertext": {
          "type": "string"
        },
        "code": {
          "type": "integer",
          "format": "int32",
          "description": "响应代码"
        },
        "data": {
          "type": "string",
          "description": "响应数据"
        },
        "error": {
          "type": "string",
          "enum": [
            "ACCEPTED",
            "ACCESS_RATE_LIMIT",
            "ACCOUNT_CANCELLED",
            "ACCOUNT_DISABLED",
            "ACCOUNT_LOCKED",
            "ACCOUNT_NOT_ACTIVATED",
            "AES_DECRYPTED_DATA_EMPTY",
            "AES_DECRYPT_FAILED",
            "AES_ENCRYPTED_DATA_EMPTY",
            "AES_ENCRYPT_FAILED",
            "AES_KEY_EXPIRED",
            "AES_KEY_EXPIRING_SOON",
            "AES_KEY_FORMAT_ERROR",
            "AES_KEY_GENERATE_FAILED",
            "AES_KEY_LENGTH_ERROR",
            "AES_KEY_NOT_FOUND",
            "AES_MODE_NOT_SUPPORTED",
            "AES_PADDING_NOT_SUPPORTED",
            "AES_VECTOR_FORMAT_ERROR",
            "AES_VECTOR_LENGTH_ERROR",
            "ALREADY_REPORTED",
            "BAD_GATEWAY",
            "BAD_REQUEST",
            "BUSINESS_ERROR",
            "CAPTCHA_ERROR",
            "CAPTCHA_EXPIRED",
            "CONFLICT",
            "CONTINUE",
            "CREATED",
            "DATABASE_BACKUP_FAILED",
            "DATABASE_CHECK_CONSTRAINT_VIOLATION",
            "DATABASE_COLUMN_NOT_FOUND",
            "DATABASE_CONNECTION_FAILED",
            "DATABASE_CONNECTION_POOL_EXHAUSTED",
            "DATABASE_DEADLOCK",
            "DATABASE_DELETE_FAILED",
            "DATABASE_DUPLICATE_KEY",
            "DATABASE_FOREIGN_KEY_VIOLATION",
            "DATABASE_INDEX_NOT_FOUND",
            "DATABASE_INSERT_FAILED",
            "DATABASE_NOT_NULL_VIOLATION",
            "DATABASE_OPERATION_FAILED",
            "DATABASE_PERMISSION_DENIED",
            "DATABASE_QUERY_FAILED",
            "DATABASE_READ_ONLY",
            "DATABASE_RESTORE_FAILED",
            "DATABASE_SQL_SYNTAX_ERROR",
            "DATABASE_TABLE_NOT_FOUND",
            "DATABASE_TIMEOUT",
            "DATABASE_TRANSACTION_FAILED",
            "DATABASE_UNIQUE_CONSTRAINT_VIOLATION",
            "DATABASE_UPDATE_FAILED",
            "DATABASE_VERSION_INCOMPATIBLE",
            "DATA_ALREADY_EXISTS",
            "DATA_CONSTRAINT_VIOLATION",
            "DATA_FORMAT_ERROR",
            "DATA_INTEGRITY_ERROR",
            "DATA_NOT_FOUND",
            "DATA_RANGE_ERROR",
            "DATA_RELATION_ERROR",
            "DATA_STATUS_ERROR",
            "DATA_VERSION_CONFLICT",
            "EARLY_HINTS",
            "EXPECTATION_FAILED",
            "FAILED_DEPENDENCY",
            "FEATURE_NOT_AVAILABLE",
            "FORBIDDEN",
            "FORCE_ENCRYPT_REQUEST_REQUIRED",
            "FORCE_ENCRYPT_SESSION_REQUIRED",
            "FOUND",
            "GATEWAY_TIMEOUT",
            "GONE",
            "HTTP_VERSION_NOT_SUPPORTED",
            "IM_USED",
            "INSUFFICIENT_STORAGE",
            "INTERNAL_SERVER_ERROR",
            "IP_FORBIDDEN",
            "LENGTH_REQUIRED",
            "LOCKED",
            "LOGIN_EXPIRED",
            "LOGIN_FAILED",
            "LOOP_DETECTED",
            "METHOD_NOT_ALLOWED",
            "MOVED_PERMANENTLY",
            "MULTIPLE_CHOICES",
            "MULTI_STATUS",
            "NETWORK_AUTHENTICATION_REQUIRED",
            "NON_AUTHORITATIVE_INFORMATION",
            "NOT_ACCEPTABLE",
            "NOT_EXTENDED",
            "NOT_FOUND",
            "NOT_IMPLEMENTED",
            "NOT_MODIFIED",
            "NO_CONTENT",
            "OK",
            "OPERATION_NOT_ALLOWED",
            "OPERATION_TIMEOUT",
            "PARTIAL_CONTENT",
            "PASSWORD_EXPIRED",
            "PASSWORD_WEAK",
            "PAYLOAD_TOO_LARGE",
            "PAYMENT_REQUIRED",
            "PERMANENT_REDIRECT",
            "PERMISSION_DENIED",
            "PRECONDITION_FAILED",
            "PRECONDITION_REQUIRED",
            "PROCESSING",
            "PROXY_AUTHENTICATION_REQUIRED",
            "RANGE_NOT_SATISFIABLE",
            "REFRESH_TOKEN_EXPIRED",
            "REFRESH_TOKEN_INVALID",
            "REQUEST_HEADER_FIELDS_TOO_LARGE",
            "REQUEST_TIMEOUT",
            "RESET_CONTENT",
            "RESOURCE_LOCKED",
            "RSA_CLIENT_PUBLIC_KEY_EXPIRING_SOON",
            "RSA_CLIENT_PUBLIC_KEY_NOT_FOUND",
            "RSA_DECRYPT_FAILED",
            "RSA_ENCRYPT_FAILED",
            "RSA_KEY_FORMAT_ERROR",
            "RSA_KEY_GENERATE_FAILED",
            "RSA_KEY_LENGTH_ERROR",
            "RSA_KEY_PAIR_EXPIRING_SOON",
            "RSA_KEY_PAIR_MISMATCH",
            "RSA_KEY_PAIR_NOT_FOUND",
            "RSA_PRIVATE_KEY_NOT_FOUND",
            "RSA_PRIVATE_KEY_PARSE_ERROR",
            "RSA_PUBLIC_KEY_PARSE_ERROR",
            "RSA_SESSION_INVALID",
            "RSA_SESSION_REQUIRED",
            "SEE_OTHER",
            "SERVICE_UNAVAILABLE",
            "SESSION_EXPIRED",
            "SESSION_INVALID",
            "SUCCESS",
            "SWITCHING_PROTOCOLS",
            "SYSTEM_MAINTENANCE",
            "TEMPORARY_REDIRECT",
            "THIRD_PARTY_LOGIN_FAILED",
            "TOKEN_EXPIRED",
            "TOKEN_INVALID",
            "TOO_EARLY",
            "TOO_MANY_REQUESTS",
            "UNAUTHORIZED",
            "UNAVAILABLE_FOR_LEGAL_REASONS",
            "UNKNOWN_ERROR",
            "UNPROCESSABLE_ENTITY",
            "UNSUPPORTED_MEDIA_TYPE",
            "UPGRADE_REQUIRED",
            "URI_TOO_LONG",
            "USER_NOT_LOGIN",
            "USE_PROXY",
            "VARIANT_ALSO_NEGOTIATES",
            "VERSION_INCOMPATIBLE"
          ]
        },
        "msg": {
          "type": "string",
          "description": "错误信息:成功时为空或为success"
        },
        "result": {
          "$ref": "#/definitions/Result"
        },
        "session": {
          "type": "string"
        },
        "success": {
          "type": "boolean"
        }
      },
      "title": "ResponseOfstring"
    },
    "Result": {
      "type": "object",
      "properties": {
        "type": {
          "type": "string"
        }
      },
      "title": "Result"
    },
    "Status": {
      "type": "object",
      "properties": {
        "blind": {
          "type": "boolean",
          "description": "标记该系统是否支持盲盒设备证书能立即秒出激活的功能"
        },
        "blindReserve": {
          "type": "boolean",
          "description": "标记该系统是否支持盲盒预定设备证书的功能"
        },
        "blindReserveUnit": {
          "type": "number",
          "description": "盲盒预定证书服务单价"
        },
        "blindUnit": {
          "type": "number",
          "description": "盲盒秒出证书单价"
        },
        "magic": {
          "type": "boolean",
          "description": "标记该系统是否支持部分设备证书能秒出激活的功能"
        },
        "magicUnit": {
          "type": "number",
          "description": "部分秒出证书单价"
        },
        "quick": {
          "type": "boolean",
          "description": "标记该系统是否支持全部设备证书能立即秒出激活的功能"
        },
        "quickUnit": {
          "type": "number",
          "description": "全量秒出证书单价"
        },
        "reserve": {
          "type": "boolean",
          "description": "标记该系统是否支持预定设备证书的功能"
        },
        "reserveUnit": {
          "type": "number",
          "description": "预定证书服务单价"
        }
      },
      "title": "Status"
    },
    "Version": {
      "type": "object",
      "properties": {
        "build": {
          "type": "integer",
          "format": "int32",
          "description": "构建版本"
        },
        "major": {
          "type": "integer",
          "format": "int32",
          "description": "主版本号"
        },
        "minor": {
          "type": "integer",
          "format": "int32",
          "description": "次版本号"
        },
        "revision": {
          "type": "integer",
          "format": "int32",
          "description": "修订版本"
        }
      },
      "title": "Version"
    }
  }
}