openapi: 3.0.1
info:
  contact:
    email: henryxm@163.com
    name: 内测云分发开发者API接口
    url: https://neice.cloud
  description: 内测云开发者服务平台应用程序接口文档
  license:
    name: Apache 2.0
    url: https://www.apache.org/licenses/LICENSE-2.0
  termsOfService: https://neice.cloud
  title: 内测云分发开发者API接口
  version: 1.0.0
servers:
- url: https://neice.cloud/
tags:
- description: 用户余额
  name: balance
- description: iOS设备注册
  name: device
- description: 获取签名节点入口
  name: endpoint
- description: 客户端授权登录认证获取Token接口
  name: oauth
- description: 开放设备证书，提供设备证书提取和查询功能
  name: open
- description: 系统接口版本
  name: version
paths:
  /aas/api/v1/certificate:
    post:
      description: 获取iOS设备证书
      operationId: getCertificate
      requestBody:
        content:
          application/json:
            schema:
              type: string
        description: udid
        required: true
      responses:
        "200":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/OutResponseOfPersonalCertificate'
          description: OK
        "201":
          content: {}
          description: Created
        "401":
          content: {}
          description: Unauthorized
        "403":
          content: {}
          description: Forbidden
        "404":
          content: {}
          description: Not Found
      security:
      - Authorization:
        - global
      summary: 获取iOS设备证书
      tags:
      - device
      x-codegen-request-body-name: udid
      x-contentType: application/json
      x-accepts: '*/*'
  /aas/api/v1/certificates:
    post:
      description: 获取iOS设备证书列表
      operationId: getCertificates
      parameters:
      - description: asc
        in: query
        name: asc
        schema:
          type: boolean
      - description: limit
        in: query
        name: limit
        required: true
        schema:
          format: int32
          type: integer
      - description: page
        in: query
        name: page
        required: true
        schema:
          format: int32
          type: integer
      responses:
        "200":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/OutResponseOfListOfPersonalCertificate'
          description: OK
        "201":
          content: {}
          description: Created
        "401":
          content: {}
          description: Unauthorized
        "403":
          content: {}
          description: Forbidden
        "404":
          content: {}
          description: Not Found
      security:
      - Authorization:
        - global
      summary: 获取iOS设备证书列表
      tags:
      - device
      x-accepts: '*/*'
  /aas/api/v1/register:
    post:
      description: iOS设备注册
      operationId: register
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DeviceRequest'
        description: request
        required: true
      responses:
        "200":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/OutResponseOfPersonalCertificate'
          description: OK
        "201":
          content: {}
          description: Created
        "401":
          content: {}
          description: Unauthorized
        "403":
          content: {}
          description: Forbidden
        "404":
          content: {}
          description: Not Found
      security:
      - Authorization:
        - global
      summary: iOS设备注册
      tags:
      - device
      x-codegen-request-body-name: request
      x-contentType: application/json
      x-accepts: '*/*'
  /aas/api/v1/registers:
    post:
      description: 请确保批量提交的数据的准性，提交后不可撤销，批量提交注册将不直接返回证书，请通过回调接口接收证书，如果没提供回调接口，可使用查询接口查询
      operationId: registers
      requestBody:
        content:
          application/json:
            schema:
              items:
                $ref: '#/components/schemas/DeviceRequest'
              type: array
        description: deviceRequests
        required: true
      responses:
        "200":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/OutResponseOfstring'
          description: OK
        "201":
          content: {}
          description: Created
        "401":
          content: {}
          description: Unauthorized
        "403":
          content: {}
          description: Forbidden
        "404":
          content: {}
          description: Not Found
      security:
      - Authorization:
        - global
      summary: iOS设备批量提交注册
      tags:
      - device
      x-codegen-request-body-name: deviceRequests
      x-contentType: application/json
      x-accepts: '*/*'
  /aas/api/v1/status:
    post:
      description: 获取证书支持类型
      operationId: getStatus
      responses:
        "200":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/OutResponseOfStatus'
          description: OK
        "201":
          content: {}
          description: Created
        "401":
          content: {}
          description: Unauthorized
        "403":
          content: {}
          description: Forbidden
        "404":
          content: {}
          description: Not Found
      security:
      - Authorization:
        - global
      summary: 获取证书支持类型
      tags:
      - device
      x-accepts: '*/*'
  /aas/api/v1/version:
    post:
      description: 获取接口系统版本
      operationId: getVersion
      responses:
        "200":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/OutResponseOfVersion'
          description: OK
        "201":
          content: {}
          description: Created
        "401":
          content: {}
          description: Unauthorized
        "403":
          content: {}
          description: Forbidden
        "404":
          content: {}
          description: Not Found
      security:
      - Authorization:
        - global
      summary: 获取接口系统版本
      tags:
      - version
      x-accepts: '*/*'
  /endpoint/getEndpoint:
    post:
      description: 获取签名节点入口
      operationId: getEndpoint
      requestBody:
        content:
          application/json:
            schema:
              additionalProperties:
                type: string
              type: object
        description: param
        required: true
      responses:
        "200":
          content:
            '*/*':
              schema:
                items:
                  $ref: '#/components/schemas/Endpoint'
                type: array
          description: OK
        "201":
          content: {}
          description: Created
        "401":
          content: {}
          description: Unauthorized
        "403":
          content: {}
          description: Forbidden
        "404":
          content: {}
          description: Not Found
      security:
      - Authorization:
        - global
      summary: 获取签名节点入口
      tags:
      - endpoint
      x-codegen-request-body-name: param
      x-contentType: application/json
      x-accepts: '*/*'
  /oauth2/token:
    post:
      description: 获取Token
      operationId: getToken
      parameters:
      - description: client_id
        in: query
        name: client_id
        required: true
        schema:
          type: string
      - description: client_secret
        in: query
        name: client_secret
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            '*/*':
              schema:
                type: string
          description: OK
        "201":
          content: {}
          description: Created
        "401":
          content: {}
          description: Unauthorized
        "403":
          content: {}
          description: Forbidden
        "404":
          content: {}
          description: Not Found
      summary: 获取Token
      tags:
      - oauth
      x-accepts: '*/*'
  /oauth2/userInfo:
    get:
      description: 获取用户信息
      operationId: getUserInfo
      responses:
        "200":
          content:
            application/json;charset=UTF-8:
              schema:
                $ref: '#/components/schemas/HttpEntity'
          description: OK
        "401":
          content: {}
          description: Unauthorized
        "403":
          content: {}
          description: Forbidden
        "404":
          content: {}
          description: Not Found
      security:
      - Authorization:
        - global
      summary: 获取用户信息
      tags:
      - oauth
      x-accepts: application/json;charset=UTF-8
    post:
      description: 获取用户信息
      operationId: getUserInfo_1
      responses:
        "200":
          content:
            application/json;charset=UTF-8:
              schema:
                $ref: '#/components/schemas/HttpEntity'
          description: OK
        "201":
          content: {}
          description: Created
        "401":
          content: {}
          description: Unauthorized
        "403":
          content: {}
          description: Forbidden
        "404":
          content: {}
          description: Not Found
      security:
      - Authorization:
        - global
      summary: 获取用户信息
      tags:
      - oauth
      x-accepts: application/json;charset=UTF-8
  /open/api/v1/certificate:
    get:
      description: 获取开发的iOS设备证书
      operationId: getCertificate_1
      parameters:
      - description: code
        in: query
        name: code
        schema:
          type: string
      - description: udid
        in: query
        name: udid
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/OutResponseOfListOfCertificateResponse'
          description: OK
        "401":
          content: {}
          description: Unauthorized
        "403":
          content: {}
          description: Forbidden
        "404":
          content: {}
          description: Not Found
      security:
      - Authorization:
        - global
      summary: 获取开发的iOS设备证书
      tags:
      - open
      x-accepts: '*/*'
    post:
      description: 获取开发的iOS设备证书
      operationId: getCertificate_4
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CertificateRequest'
        description: certificateRequest
        required: true
      responses:
        "200":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/OutResponseOfListOfCertificateResponse'
          description: OK
        "201":
          content: {}
          description: Created
        "401":
          content: {}
          description: Unauthorized
        "403":
          content: {}
          description: Forbidden
        "404":
          content: {}
          description: Not Found
      security:
      - Authorization:
        - global
      summary: 获取开发的iOS设备证书
      tags:
      - open
      x-codegen-request-body-name: certificateRequest
      x-contentType: application/json
      x-accepts: '*/*'
  /open/api/v1/certificate/{udid}:
    get:
      description: 获取开发的iOS设备证书
      operationId: getCertificate_3
      parameters:
      - description: udid
        in: path
        name: udid
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/OutResponseOfListOfCertificateResponse'
          description: OK
        "401":
          content: {}
          description: Unauthorized
        "403":
          content: {}
          description: Forbidden
        "404":
          content: {}
          description: Not Found
      security:
      - Authorization:
        - global
      summary: 获取开发的iOS设备证书
      tags:
      - open
      x-accepts: '*/*'
    post:
      description: 获取开发的iOS设备证书
      operationId: getCertificate_2
      parameters:
      - description: udid
        in: path
        name: udid
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/OutResponseOfListOfCertificateResponse'
          description: OK
        "201":
          content: {}
          description: Created
        "401":
          content: {}
          description: Unauthorized
        "403":
          content: {}
          description: Forbidden
        "404":
          content: {}
          description: Not Found
      security:
      - Authorization:
        - global
      summary: 获取开发的iOS设备证书
      tags:
      - open
      x-accepts: '*/*'
  /open/api/v1/enterprise/certificates:
    get:
      description: 获取企业开发者证书
      operationId: getEnterpriseCertificates
      responses:
        "200":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/OutResponseOfListOfOpenEnterpriseCertificate'
          description: OK
        "401":
          content: {}
          description: Unauthorized
        "403":
          content: {}
          description: Forbidden
        "404":
          content: {}
          description: Not Found
      security:
      - Authorization:
        - global
      summary: 获取企业开发者证书
      tags:
      - open
      x-accepts: '*/*'
    post:
      description: 获取企业开发者证书
      operationId: getEnterpriseCertificates_1
      responses:
        "200":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/OutResponseOfListOfOpenEnterpriseCertificate'
          description: OK
        "201":
          content: {}
          description: Created
        "401":
          content: {}
          description: Unauthorized
        "403":
          content: {}
          description: Forbidden
        "404":
          content: {}
          description: Not Found
      security:
      - Authorization:
        - global
      summary: 获取企业开发者证书
      tags:
      - open
      x-accepts: '*/*'
  /user/api/v1/balance:
    post:
      description: 获取用户余额
      operationId: getBalance
      responses:
        "200":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/OutResponseOfBalance'
          description: OK
        "201":
          content: {}
          description: Created
        "401":
          content: {}
          description: Unauthorized
        "403":
          content: {}
          description: Forbidden
        "404":
          content: {}
          description: Not Found
      security:
      - Authorization:
        - global
      summary: 获取用户余额
      tags:
      - balance
      x-accepts: '*/*'
components:
  schemas:
    Balance:
      example:
        reward: 1.4658129805029452
        total: 5.962133916683182
        balance: 6.027456183070403
        voucher: 5.637376656633329
        userUuid: userUuid
      properties:
        balance:
          type: number
        reward:
          type: number
        total:
          type: number
        userUuid:
          type: string
        voucher:
          type: number
      title: Balance
      type: object
    CertificateRequest:
      example:
        code: code
        phone: phone
        force: true
        model: model
        udid: udid
        version: version
      properties:
        code:
          description: 通过设备证书兑换码可以兑换设备证书
          type: string
        force:
          description: 强制触发证书查询刷新:证书模式下，系统如果检查该设备证书不为空，将不会触发渠道证书拉取同步，增加强制后，将强制系统查询各渠道证书
          type: boolean
        model:
          description: 指定设备型号:iPhone,iPad,iPod,如不指定则使用任何设备
          type: string
        phone:
          description: 如果你兑换的预定证书，需输入手机号用以接收激活通知
          type: string
        udid:
          description: iOS设备的UDID
          type: string
        version:
          description: 传递APP客户端的版本号
          type: string
      required:
      - udid
      title: CertificateRequest
      type: object
    CertificateResponse:
      example:
        notAfter: 2000-01-23T04:56:07.000+00:00
        code: code
        buy: buy
        mobileprovision: mobileprovision
        certificate: certificate
        description: description
        invisible: true
        experience: 1
        title: title
        uuid: uuid
        valid: true
        password: password
        price: 5
        contact: contact
        reserve: true
        create: 2000-01-23T04:56:07.000+00:00
        lock: 5
        tag: tag
        udid: udid
        actual: 6
        serialNumber: serialNumber
        profile: profile
        mobile: mobile
        pay: pay
        signed: 7
        team: team
        quality: 2
        phone: phone
        domain: domain
        teamId: teamId
        name: name
        device: device
      properties:
        actual:
          description: 实际支付
          format: int32
          type: integer
        buy:
          description: 购买地址
          type: string
        certificate:
          description: Base64格式的证书P12文件
          type: string
        code:
          description: 证书兑换码
          type: string
        contact:
          description: 联系人
          type: string
        create:
          description: 创建时间
          format: date-time
          type: string
        description:
          description: 证书说明
          type: string
        device:
          description: 设备名
          type: string
        domain:
          description: 归属
          type: string
        experience:
          description: 允许用户体验的次数
          format: int32
          type: integer
        invisible:
          description: 隐形证书
          type: boolean
        lock:
          description: 锁定:0,不加锁;100,导出锁;200,体验锁;300,解码锁;400,付款锁;500,优惠锁;600,包月锁;700,续费锁;800,备份锁;10000,杀死锁
          format: int32
          type: integer
        mobile:
          description: 预定证书的手机号
          type: string
        mobileprovision:
          description: Base64格式的证书描述文件
          type: string
        name:
          description: 证书名
          type: string
        notAfter:
          description: 过期时间
          format: date-time
          type: string
        password:
          description: 证书P12对应的密码
          type: string
        pay:
          description: 购买
          type: string
        phone:
          description: 预定证书的手机号
          type: string
        price:
          description: 官方定价
          format: int32
          type: integer
        profile:
          description: 证书描述文件ID
          type: string
        quality:
          description: 证书质保天数
          format: int32
          type: integer
        reserve:
          description: 是否为预定的证书
          type: boolean
        serialNumber:
          type: string
        signed:
          description: 用户签名应用的次数
          format: int32
          type: integer
        tag:
          description: 标记
          type: string
        team:
          description: 证书TEAM
          type: string
        teamId:
          type: string
        title:
          description: 标题
          type: string
        udid:
          description: 证书的UDID
          type: string
        uuid:
          description: 上游渠道生成的证书的UUID
          type: string
        valid:
          description: 证书是否有效
          type: boolean
      required:
      - certificate
      - mobileprovision
      - password
      - udid
      title: CertificateResponse
      type: object
    DeviceRequest:
      example:
        code: code
        system: system
        param: param
        phone: phone
        refer: refer
        name: name
        reserve: true
        callback: callback
        model: model
        udid: udid
        version: version
        quality: 0
      properties:
        callback:
          description: 预定证书激活时可通过回调地址将证书推送到业务系统中，为空将不会回调
          type: string
        code:
          description: 可使用兑换码注册设备
          type: string
        model:
          description: 兑换设备的手机型号，非必要参数
          type: string
        name:
          description: 当调用的预定证书激活时，激活通知短信将发送该名称，方便区分，允许为空值
          type: string
        param:
          description: 额外透传参数，非必要参数
          type: string
        phone:
          description: 预定手机:设备激活后发送可以安装APP的通知短信，当注册预定证书时，电话号码不能为空值
          type: string
        quality:
          description: 增加质保天数后台可能会增加计费
          format: int32
          type: integer
        refer:
          description: 下游系统可以标记该设备的注册用户，上游系统将透传回去，非必要参数
          type: string
        reserve:
          description: 证书预定参数开关如果卡设备，将在设备处于激活状态时通知用户安装
          type: boolean
        system:
          description: 兑换设备的系统，非必要参数
          type: string
        udid:
          description: iOS或iPad设备UDID
          type: string
        version:
          description: 兑换设备的客户端版本，非必要参数
          type: string
      required:
      - udid
      title: DeviceRequest
      type: object
    Endpoint:
      example:
        endpoint: endpoint
        name: name
        description: description
      properties:
        description:
          type: string
        endpoint:
          type: string
        name:
          type: string
      title: Endpoint
      type: object
    HttpEntity:
      example:
        body: '{}'
      properties:
        body:
          properties: {}
          type: object
      title: HttpEntity
      type: object
    OpenEnterpriseCertificate:
      example:
        notAfter: 2000-01-23T04:56:07.000+00:00
        serialNumber: serialNumber
        issuerDn: issuerDn
        mobileprovision: mobileprovision
        revocationTime: 2000-01-23T04:56:07.000+00:00
        certificate: certificate
        certificateName: certificateName
        uuid: uuid
        notBefore: 2000-01-23T04:56:07.000+00:00
        valid: true
        password: password
        createTime: 2000-01-23T04:56:07.000+00:00
        teamId: teamId
        revocationReason: revocationReason
        md5: md5
        subjectDn: subjectDn
      properties:
        certificate:
          type: string
        certificateName:
          type: string
        createTime:
          format: date-time
          type: string
        issuerDn:
          type: string
        md5:
          type: string
        mobileprovision:
          type: string
        notAfter:
          format: date-time
          type: string
        notBefore:
          format: date-time
          type: string
        password:
          type: string
        revocationReason:
          type: string
        revocationTime:
          format: date-time
          type: string
        serialNumber:
          type: string
        subjectDn:
          type: string
        teamId:
          type: string
        uuid:
          type: string
        valid:
          type: boolean
      title: OpenEnterpriseCertificate
      type: object
    OutResponseOfBalance:
      example:
        msg: msg
        code: 0
        data:
          reward: 1.4658129805029452
          total: 5.962133916683182
          balance: 6.027456183070403
          voucher: 5.637376656633329
          userUuid: userUuid
      properties:
        code:
          description: 响应代码
          format: int32
          type: integer
        data:
          $ref: '#/components/schemas/Balance'
        msg:
          description: 错误信息:成功时为空或为success
          type: string
      required:
      - code
      title: OutResponseOfBalance
      type: object
    OutResponseOfListOfCertificateResponse:
      example:
        msg: msg
        code: 0
        data:
        - notAfter: 2000-01-23T04:56:07.000+00:00
          code: code
          buy: buy
          mobileprovision: mobileprovision
          certificate: certificate
          description: description
          invisible: true
          experience: 1
          title: title
          uuid: uuid
          valid: true
          password: password
          price: 5
          contact: contact
          reserve: true
          create: 2000-01-23T04:56:07.000+00:00
          lock: 5
          tag: tag
          udid: udid
          actual: 6
          serialNumber: serialNumber
          profile: profile
          mobile: mobile
          pay: pay
          signed: 7
          team: team
          quality: 2
          phone: phone
          domain: domain
          teamId: teamId
          name: name
          device: device
        - notAfter: 2000-01-23T04:56:07.000+00:00
          code: code
          buy: buy
          mobileprovision: mobileprovision
          certificate: certificate
          description: description
          invisible: true
          experience: 1
          title: title
          uuid: uuid
          valid: true
          password: password
          price: 5
          contact: contact
          reserve: true
          create: 2000-01-23T04:56:07.000+00:00
          lock: 5
          tag: tag
          udid: udid
          actual: 6
          serialNumber: serialNumber
          profile: profile
          mobile: mobile
          pay: pay
          signed: 7
          team: team
          quality: 2
          phone: phone
          domain: domain
          teamId: teamId
          name: name
          device: device
      properties:
        code:
          description: 响应代码
          format: int32
          type: integer
        data:
          description: 响应数据
          items:
            $ref: '#/components/schemas/CertificateResponse'
          type: array
        msg:
          description: 错误信息:成功时为空或为success
          type: string
      required:
      - code
      title: OutResponseOfListOfCertificateResponse
      type: object
    OutResponseOfListOfOpenEnterpriseCertificate:
      example:
        msg: msg
        code: 0
        data:
        - notAfter: 2000-01-23T04:56:07.000+00:00
          serialNumber: serialNumber
          issuerDn: issuerDn
          mobileprovision: mobileprovision
          revocationTime: 2000-01-23T04:56:07.000+00:00
          certificate: certificate
          certificateName: certificateName
          uuid: uuid
          notBefore: 2000-01-23T04:56:07.000+00:00
          valid: true
          password: password
          createTime: 2000-01-23T04:56:07.000+00:00
          teamId: teamId
          revocationReason: revocationReason
          md5: md5
          subjectDn: subjectDn
        - notAfter: 2000-01-23T04:56:07.000+00:00
          serialNumber: serialNumber
          issuerDn: issuerDn
          mobileprovision: mobileprovision
          revocationTime: 2000-01-23T04:56:07.000+00:00
          certificate: certificate
          certificateName: certificateName
          uuid: uuid
          notBefore: 2000-01-23T04:56:07.000+00:00
          valid: true
          password: password
          createTime: 2000-01-23T04:56:07.000+00:00
          teamId: teamId
          revocationReason: revocationReason
          md5: md5
          subjectDn: subjectDn
      properties:
        code:
          description: 响应代码
          format: int32
          type: integer
        data:
          description: 响应数据
          items:
            $ref: '#/components/schemas/OpenEnterpriseCertificate'
          type: array
        msg:
          description: 错误信息:成功时为空或为success
          type: string
      required:
      - code
      title: OutResponseOfListOfOpenEnterpriseCertificate
      type: object
    OutResponseOfListOfPersonalCertificate:
      example:
        msg: msg
        code: 0
        data:
        - repair: true
          code: code
          certificateId: certificateId
          mobileprovision: mobileprovision
          certificate: certificate
          description: description
          invisible: true
          experience: 6
          deviceId: deviceId
          qualityTime: qualityTime
          uuid: uuid
          valid: true
          password: password
          price: 5.962133916683182
          reserve: true
          lock: 1
          tag: tag
          udid: udid
          serialNumber: serialNumber
          profile: profile
          team: team
          quality: 5
          createTime: createTime
          phone: phone
          refer: refer
          profileId: profileId
          teamId: teamId
          name: name
        - repair: true
          code: code
          certificateId: certificateId
          mobileprovision: mobileprovision
          certificate: certificate
          description: description
          invisible: true
          experience: 6
          deviceId: deviceId
          qualityTime: qualityTime
          uuid: uuid
          valid: true
          password: password
          price: 5.962133916683182
          reserve: true
          lock: 1
          tag: tag
          udid: udid
          serialNumber: serialNumber
          profile: profile
          team: team
          quality: 5
          createTime: createTime
          phone: phone
          refer: refer
          profileId: profileId
          teamId: teamId
          name: name
      properties:
        code:
          description: 响应代码
          format: int32
          type: integer
        data:
          description: 响应数据
          items:
            $ref: '#/components/schemas/PersonalCertificate'
          type: array
        msg:
          description: 错误信息:成功时为空或为success
          type: string
      required:
      - code
      title: OutResponseOfListOfPersonalCertificate
      type: object
    OutResponseOfPersonalCertificate:
      example:
        msg: msg
        code: 0
        data:
          repair: true
          code: code
          certificateId: certificateId
          mobileprovision: mobileprovision
          certificate: certificate
          description: description
          invisible: true
          experience: 6
          deviceId: deviceId
          qualityTime: qualityTime
          uuid: uuid
          valid: true
          password: password
          price: 5.962133916683182
          reserve: true
          lock: 1
          tag: tag
          udid: udid
          serialNumber: serialNumber
          profile: profile
          team: team
          quality: 5
          createTime: createTime
          phone: phone
          refer: refer
          profileId: profileId
          teamId: teamId
          name: name
      properties:
        code:
          description: 响应代码
          format: int32
          type: integer
        data:
          $ref: '#/components/schemas/PersonalCertificate'
        msg:
          description: 错误信息:成功时为空或为success
          type: string
      required:
      - code
      title: OutResponseOfPersonalCertificate
      type: object
    OutResponseOfStatus:
      example:
        msg: msg
        code: 0
        data:
          magic: true
          blindReserveUnit: 6.027456183070403
          blind: true
          blindReserve: true
          quick: true
          blindUnit: 1.4658129805029452
          reserve: true
          quickUnit: 5.637376656633329
          magicUnit: 5.962133916683182
          reserveUnit: 2.3021358869347655
      properties:
        code:
          description: 响应代码
          format: int32
          type: integer
        data:
          $ref: '#/components/schemas/Status'
        msg:
          description: 错误信息:成功时为空或为success
          type: string
      required:
      - code
      title: OutResponseOfStatus
      type: object
    OutResponseOfVersion:
      example:
        msg: msg
        code: 0
        data:
          major: 1
          minor: 5
          build: 6
          revision: 5
      properties:
        code:
          description: 响应代码
          format: int32
          type: integer
        data:
          $ref: '#/components/schemas/Version'
        msg:
          description: 错误信息:成功时为空或为success
          type: string
      required:
      - code
      title: OutResponseOfVersion
      type: object
    OutResponseOfstring:
      example:
        msg: msg
        code: 0
        data: data
      properties:
        code:
          description: 响应代码
          format: int32
          type: integer
        data:
          description: 响应数据
          type: string
        msg:
          description: 错误信息:成功时为空或为success
          type: string
      required:
      - code
      title: OutResponseOfstring
      type: object
    PersonalCertificate:
      example:
        repair: true
        code: code
        certificateId: certificateId
        mobileprovision: mobileprovision
        certificate: certificate
        description: description
        invisible: true
        experience: 6
        deviceId: deviceId
        qualityTime: qualityTime
        uuid: uuid
        valid: true
        password: password
        price: 5.962133916683182
        reserve: true
        lock: 1
        tag: tag
        udid: udid
        serialNumber: serialNumber
        profile: profile
        team: team
        quality: 5
        createTime: createTime
        phone: phone
        refer: refer
        profileId: profileId
        teamId: teamId
        name: name
      properties:
        certificate:
          description: 设备证书P12
          type: string
        certificateId:
          description: 证书ID
          type: string
        code:
          description: 证书兑换码
          type: string
        createTime:
          description: 证书创建时间
          type: string
        description:
          description: 证书描述信息
          type: string
        deviceId:
          description: 设备ID
          type: string
        experience:
          description: 允许用户体验的次数
          format: int32
          type: integer
        invisible:
          description: 隐形证书
          type: boolean
        lock:
          description: 锁定:0,不加锁;100,导出锁;200,体验锁;300,解码锁;400,付款锁;500,优惠锁;600,包月锁;700,续费锁;800,备份锁;10000,杀死锁
          format: int32
          type: integer
        mobileprovision:
          description: 设备的描述文件Mobileprovision
          type: string
        name:
          description: 证书名称
          type: string
        password:
          description: 设备证书密码
          type: string
        phone:
          description: 预定手机
          type: string
        price:
          description: 服务价格
          type: number
        profile:
          type: string
        profileId:
          description: 描述文件ID
          type: string
        quality:
          description: 证书质保天数
          format: int32
          type: integer
        qualityTime:
          description: 证书质保到期时间
          type: string
        refer:
          description: 该设备的用户,后台自动透传该参数
          type: string
        repair:
          description: 补偿证书:预定失败或质保期内掉签，后台重订的设备标记，一般免服务费
          type: boolean
        reserve:
          description: 预定证书
          type: boolean
        serialNumber:
          type: string
        tag:
          type: string
        team:
          type: string
        teamId:
          type: string
        udid:
          description: 设备的UDID
          type: string
        uuid:
          description: 单个设备证书UUID
          type: string
        valid:
          description: 证书是否有效
          type: boolean
      title: PersonalCertificate
      type: object
    Status:
      example:
        magic: true
        blindReserveUnit: 6.027456183070403
        blind: true
        blindReserve: true
        quick: true
        blindUnit: 1.4658129805029452
        reserve: true
        quickUnit: 5.637376656633329
        magicUnit: 5.962133916683182
        reserveUnit: 2.3021358869347655
      properties:
        blind:
          description: 标记该系统是否支持盲盒设备证书能立即秒出激活的功能
          type: boolean
        blindReserve:
          description: 标记该系统是否支持盲盒预定设备证书的功能
          type: boolean
        blindReserveUnit:
          description: 盲盒预定证书服务单价
          type: number
        blindUnit:
          description: 盲盒秒出证书单价
          type: number
        magic:
          description: 标记该系统是否支持部分设备证书能秒出激活的功能
          type: boolean
        magicUnit:
          description: 部分秒出证书单价
          type: number
        quick:
          description: 标记该系统是否支持全部设备证书能立即秒出激活的功能
          type: boolean
        quickUnit:
          description: 全量秒出证书单价
          type: number
        reserve:
          description: 标记该系统是否支持预定设备证书的功能
          type: boolean
        reserveUnit:
          description: 预定证书服务单价
          type: number
      title: Status
      type: object
    Version:
      example:
        major: 1
        minor: 5
        build: 6
        revision: 5
      properties:
        build:
          description: 构建版本
          format: int32
          type: integer
        major:
          description: 主版本号
          format: int32
          type: integer
        minor:
          description: 次版本号
          format: int32
          type: integer
        revision:
          description: 修订版本
          format: int32
          type: integer
      title: Version
      type: object
  securitySchemes:
    Authorization:
      flows:
        clientCredentials:
          scopes:
            all: All scope is trusted!
          tokenUrl: /oauth2/token
      type: oauth2
x-original-swagger-version: "2.0"

