openapi: 3.0.1
info:
  contact:
    email: henryxm@163.com
    name: 内测云分发开发者API接口
    url: https://neice.cloud
  description: 内测云开发者服务平台应用程序接口文档
  license:
    name: Apache 2.0
    url: https://www.apache.org/licenses/LICENSE-2.0
  termsOfService: https://neice.cloud
  title: 内测云分发开发者API接口
  version: 1.0.0
servers:
- url: https://neice.cloud/
tags:
- description: 用户余额
  name: balance
- description: iOS设备注册
  name: device
- description: 获取签名节点入口
  name: endpoint
- description: 客户端授权登录认证获取Token接口
  name: oauth
- description: 系统接口版本
  name: version
paths:
  /aas/api/v1/certificate:
    post:
      description: 获取iOS设备证书
      operationId: getCertificate
      requestBody:
        content:
          application/json:
            schema:
              type: string
        description: udid
        required: true
      responses:
        "200":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ResponseOfPersonalCertificate'
          description: OK
        "201":
          content: {}
          description: Created
        "401":
          content: {}
          description: Unauthorized
        "403":
          content: {}
          description: Forbidden
        "404":
          content: {}
          description: Not Found
      security:
      - Authorization:
        - global
      summary: 获取iOS设备证书
      tags:
      - device
      x-codegen-request-body-name: udid
      x-contentType: application/json
      x-accepts: '*/*'
  /aas/api/v1/certificates:
    post:
      description: 获取iOS设备证书列表
      operationId: getCertificates
      parameters:
      - description: asc
        in: query
        name: asc
        schema:
          type: boolean
      - description: limit
        in: query
        name: limit
        required: true
        schema:
          format: int32
          type: integer
      - description: page
        in: query
        name: page
        required: true
        schema:
          format: int32
          type: integer
      responses:
        "200":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ResponseOfListOfPersonalCertificate'
          description: OK
        "201":
          content: {}
          description: Created
        "401":
          content: {}
          description: Unauthorized
        "403":
          content: {}
          description: Forbidden
        "404":
          content: {}
          description: Not Found
      security:
      - Authorization:
        - global
      summary: 获取iOS设备证书列表
      tags:
      - device
      x-accepts: '*/*'
  /aas/api/v1/exchange/code:
    post:
      description: 创建iOS设备证书兑换码
      operationId: createExchangeCode
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CertificateCode'
        description: request
        required: true
      responses:
        "200":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ResponseOfCertificateCode'
          description: OK
        "201":
          content: {}
          description: Created
        "401":
          content: {}
          description: Unauthorized
        "403":
          content: {}
          description: Forbidden
        "404":
          content: {}
          description: Not Found
      security:
      - Authorization:
        - global
      summary: 创建iOS设备证书兑换码
      tags:
      - device
      x-codegen-request-body-name: request
      x-contentType: application/json
      x-accepts: '*/*'
  /aas/api/v1/register:
    post:
      description: iOS设备注册
      operationId: register
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DeviceRequest'
        description: request
        required: true
      responses:
        "200":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ResponseOfPersonalCertificate'
          description: OK
        "201":
          content: {}
          description: Created
        "401":
          content: {}
          description: Unauthorized
        "403":
          content: {}
          description: Forbidden
        "404":
          content: {}
          description: Not Found
      security:
      - Authorization:
        - global
      summary: iOS设备注册
      tags:
      - device
      x-codegen-request-body-name: request
      x-contentType: application/json
      x-accepts: '*/*'
  /aas/api/v1/registers:
    post:
      description: 请确保批量提交的数据的准性，提交后不可撤销，批量提交注册将不直接返回证书，请通过回调接口接收证书，如果没提供回调接口，可使用查询接口查询
      operationId: registers
      requestBody:
        content:
          application/json:
            schema:
              items:
                $ref: '#/components/schemas/DeviceRequest'
              type: array
        description: deviceRequests
        required: true
      responses:
        "200":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ResponseOfstring'
          description: OK
        "201":
          content: {}
          description: Created
        "401":
          content: {}
          description: Unauthorized
        "403":
          content: {}
          description: Forbidden
        "404":
          content: {}
          description: Not Found
      security:
      - Authorization:
        - global
      summary: iOS设备批量提交注册
      tags:
      - device
      x-codegen-request-body-name: deviceRequests
      x-contentType: application/json
      x-accepts: '*/*'
  /aas/api/v1/renewable:
    post:
      description: 查询设备补签列表信息
      operationId: renewable
      requestBody:
        content:
          application/json:
            schema:
              type: string
        description: udid
        required: true
      responses:
        "200":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ResponseOfListOfRenewable'
          description: OK
        "201":
          content: {}
          description: Created
        "401":
          content: {}
          description: Unauthorized
        "403":
          content: {}
          description: Forbidden
        "404":
          content: {}
          description: Not Found
      security:
      - Authorization:
        - global
      summary: 查询设备补签列表信息
      tags:
      - device
      x-codegen-request-body-name: udid
      x-contentType: application/json
      x-accepts: '*/*'
  /aas/api/v1/status:
    post:
      description: 获取证书支持类型
      operationId: getStatus
      responses:
        "200":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ResponseOfStatus'
          description: OK
        "201":
          content: {}
          description: Created
        "401":
          content: {}
          description: Unauthorized
        "403":
          content: {}
          description: Forbidden
        "404":
          content: {}
          description: Not Found
      security:
      - Authorization:
        - global
      summary: 获取证书支持类型
      tags:
      - device
      x-accepts: '*/*'
  /aas/api/v1/version:
    post:
      description: 获取接口系统版本
      operationId: getVersion
      responses:
        "200":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ResponseOfVersion'
          description: OK
        "201":
          content: {}
          description: Created
        "401":
          content: {}
          description: Unauthorized
        "403":
          content: {}
          description: Forbidden
        "404":
          content: {}
          description: Not Found
      security:
      - Authorization:
        - global
      summary: 获取接口系统版本
      tags:
      - version
      x-accepts: '*/*'
  /endpoint/getEndpoint:
    post:
      description: 获取签名节点入口
      operationId: getEndpoint
      requestBody:
        content:
          application/json:
            schema:
              additionalProperties:
                type: string
              type: object
        description: param
        required: true
      responses:
        "200":
          content:
            '*/*':
              schema:
                items:
                  $ref: '#/components/schemas/Endpoint'
                type: array
          description: OK
        "201":
          content: {}
          description: Created
        "401":
          content: {}
          description: Unauthorized
        "403":
          content: {}
          description: Forbidden
        "404":
          content: {}
          description: Not Found
      security:
      - Authorization:
        - global
      summary: 获取签名节点入口
      tags:
      - endpoint
      x-codegen-request-body-name: param
      x-contentType: application/json
      x-accepts: '*/*'
  /oauth2/token:
    post:
      description: 获取Token
      operationId: getToken
      parameters:
      - description: client_id
        in: query
        name: client_id
        required: true
        schema:
          type: string
      - description: client_secret
        in: query
        name: client_secret
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            '*/*':
              schema:
                type: string
          description: OK
        "201":
          content: {}
          description: Created
        "401":
          content: {}
          description: Unauthorized
        "403":
          content: {}
          description: Forbidden
        "404":
          content: {}
          description: Not Found
      summary: 获取Token
      tags:
      - oauth
      x-accepts: '*/*'
  /oauth2/userInfo:
    get:
      description: 获取用户信息
      operationId: getUserInfo
      responses:
        "200":
          content:
            application/json;charset=UTF-8:
              schema:
                type: object
          description: OK
        "401":
          content: {}
          description: Unauthorized
        "403":
          content: {}
          description: Forbidden
        "404":
          content: {}
          description: Not Found
      security:
      - Authorization:
        - global
      summary: 获取用户信息
      tags:
      - oauth
      x-accepts: application/json;charset=UTF-8
    post:
      description: 获取用户信息
      operationId: getUserInfo_1
      responses:
        "200":
          content:
            application/json;charset=UTF-8:
              schema:
                type: object
          description: OK
        "201":
          content: {}
          description: Created
        "401":
          content: {}
          description: Unauthorized
        "403":
          content: {}
          description: Forbidden
        "404":
          content: {}
          description: Not Found
      security:
      - Authorization:
        - global
      summary: 获取用户信息
      tags:
      - oauth
      x-accepts: application/json;charset=UTF-8
  /user/api/v1/balance:
    post:
      description: 获取用户余额
      operationId: getBalance
      responses:
        "200":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ResponseOfBalance'
          description: OK
        "201":
          content: {}
          description: Created
        "401":
          content: {}
          description: Unauthorized
        "403":
          content: {}
          description: Forbidden
        "404":
          content: {}
          description: Not Found
      security:
      - Authorization:
        - global
      summary: 获取用户余额
      tags:
      - balance
      x-accepts: '*/*'
components:
  schemas:
    Balance:
      example:
        reward: 5.962133916683182
        ciphertext: ciphertext
        total: 5.637376656633329
        balance: 6.027456183070403
        session: session
        voucher: 2.3021358869347655
        userUuid: userUuid
        escrow: 1.4658129805029452
        algorithm: algorithm
      properties:
        algorithm:
          type: string
        balance:
          type: number
        ciphertext:
          type: string
        escrow:
          type: number
        reward:
          type: number
        session:
          type: string
        total:
          type: number
        userUuid:
          type: string
        voucher:
          type: number
      title: Balance
      type: object
    CertificateCode:
      example:
        code: code
        domain: domain
        query: query
        reserve: true
        exchange: 2000-01-23T04:56:07.000+00:00
        model: model
        udid: udid
        quality: 6
        token: token
      properties:
        code:
          description: 证书兑换码
          type: string
        domain:
          description: 证书兑换系统的域名，请先在网站配置域名及其对应的API地址
          type: string
        exchange:
          description: 兑换码完成兑换的时间
          format: date-time
          type: string
        model:
          description: 设备型号:iPhone,iPad,iPod
          type: string
        quality:
          description: 默认为0:不质保,最大不能超过365天，该值仅作为参考，不作为依据，具体以上游系统为准
          format: int32
          type: integer
        query:
          description: 证书查询码
          type: string
        reserve:
          description: 表示该兑换码是否是兑换的预定证书，该值仅作为参考，不作为依据，具体以上游系统为准
          type: boolean
        token:
          description: 请求鉴权令牌
          type: string
        udid:
          description: 绑定设备的UDID，兑换时绑定
          type: string
      required:
      - token
      title: CertificateCode
      type: object
    DeviceRequest:
      example:
        code: code
        uuid: uuid
        version: version
        quality: 0
        system: system
        param: param
        phone: phone
        refer: refer
        name: name
        reserve: true
        callback: callback
        model: model
        renew: true
        udid: udid
      properties:
        callback:
          description: 预定证书激活时可通过回调地址将证书推送到业务系统中，为空将不会回调
          type: string
        code:
          description: 可使用兑换码注册设备
          type: string
        model:
          description: 兑换设备的手机型号，非必要参数
          type: string
        name:
          description: 当调用的预定证书激活时，激活通知短信将发送该名称，方便区分，允许为空值
          type: string
        param:
          description: 额外透传参数，非必要参数
          type: string
        phone:
          description: 预定手机:设备激活后发送可以安装APP的通知短信，当注册预定证书时，电话号码不能为空值
          type: string
        quality:
          description: 增加质保天数后台可能会增加计费
          format: int32
          type: integer
        refer:
          description: 下游系统可以标记该设备的注册用户，上游系统将透传回去，非必要参数
          type: string
        renew:
          description: 标记该设备是否是免费补签请求
          type: boolean
        reserve:
          description: 证书预定参数开关如果卡设备，将在设备处于激活状态时通知用户安装
          type: boolean
        system:
          description: 兑换设备的系统，非必要参数
          type: string
        udid:
          description: iOS或iPad设备UDID
          type: string
        uuid:
          description: 免费补签时，指定需要补签证书对应的UUID
          type: string
        version:
          description: 兑换设备的客户端版本，非必要参数
          type: string
      required:
      - udid
      title: DeviceRequest
      type: object
    Endpoint:
      example:
        endpoint: endpoint
        name: name
        description: description
      properties:
        description:
          type: string
        endpoint:
          type: string
        name:
          type: string
      title: Endpoint
      type: object
    PersonalCertificate:
      example:
        repair: true
        code: code
        certificateId: certificateId
        mobileprovision: mobileprovision
        certificate: certificate
        description: description
        invisible: true
        experience: 6
        deviceId: deviceId
        qualityTime: qualityTime
        uuid: uuid
        valid: true
        password: password
        price: 5.962133916683182
        reserve: true
        lock: 1
        tag: tag
        udid: udid
        serialNumber: serialNumber
        profile: profile
        team: team
        quality: 5
        createTime: createTime
        phone: phone
        refer: refer
        profileId: profileId
        teamId: teamId
        name: name
      properties:
        certificate:
          description: 设备证书P12
          type: string
        certificateId:
          description: 证书ID
          type: string
        code:
          description: 证书兑换码
          type: string
        createTime:
          description: 证书创建时间
          type: string
        description:
          description: 证书描述信息
          type: string
        deviceId:
          description: 设备ID
          type: string
        experience:
          description: 允许用户体验的次数
          format: int32
          type: integer
        invisible:
          description: 隐形证书
          type: boolean
        lock:
          description: 锁定:0,不加锁;100,导出锁;200,体验锁;300,解码锁;400,付款锁;500,优惠锁;600,包月锁;700,续费锁;800,备份锁;10000,杀死锁
          format: int32
          type: integer
        mobileprovision:
          description: 设备的描述文件Mobileprovision
          type: string
        name:
          description: 证书名称
          type: string
        password:
          description: 设备证书密码
          type: string
        phone:
          description: 预定手机
          type: string
        price:
          description: 服务价格
          type: number
        profile:
          type: string
        profileId:
          description: 描述文件ID
          type: string
        quality:
          description: 证书质保天数
          format: int32
          type: integer
        qualityTime:
          description: 证书质保到期时间
          type: string
        refer:
          description: 该设备的用户,后台自动透传该参数
          type: string
        repair:
          description: 补偿证书:预定失败或质保期内掉签，后台重订的设备标记，一般免服务费
          type: boolean
        reserve:
          description: 预定证书
          type: boolean
        serialNumber:
          type: string
        tag:
          type: string
        team:
          type: string
        teamId:
          type: string
        udid:
          description: 设备的UDID
          type: string
        uuid:
          description: 单个设备证书UUID
          type: string
        valid:
          description: 证书是否有效
          type: boolean
      title: PersonalCertificate
      type: object
    Renewable:
      example:
        renewable: true
        domain: domain
        udid: udid
        uuid: uuid
        guide: guide
        url: url
      properties:
        domain:
          type: string
        guide:
          type: string
        renewable:
          type: boolean
        udid:
          type: string
        url:
          type: string
        uuid:
          type: string
      title: Renewable
      type: object
    ResponseOfBalance:
      example:
        msg: msg
        result:
          type: type
        ciphertext: ciphertext
        code: 0
        data:
          reward: 5.962133916683182
          ciphertext: ciphertext
          total: 5.637376656633329
          balance: 6.027456183070403
          session: session
          voucher: 2.3021358869347655
          userUuid: userUuid
          escrow: 1.4658129805029452
          algorithm: algorithm
        session: session
        success: true
        action: GET_AES_KEY
        error: ACCEPTED
        algorithm: algorithm
      properties:
        action:
          enum:
          - GET_AES_KEY
          - NONE
          - REFRESH_SERVER_PUBLIC_KEY
          - RETRY_LATER
          - RE_LOGIN
          - UPDATE_CLIENT_VERSION
          - UPLOAD_CLIENT_PUBLIC_KEY
          type: string
        algorithm:
          type: string
        ciphertext:
          type: string
        code:
          description: 响应代码
          format: int32
          type: integer
        data:
          $ref: '#/components/schemas/Balance'
        error:
          enum:
          - ACCEPTED
          - ACCESS_RATE_LIMIT
          - ACCOUNT_CANCELLED
          - ACCOUNT_DISABLED
          - ACCOUNT_LOCKED
          - ACCOUNT_NOT_ACTIVATED
          - AES_DECRYPTED_DATA_EMPTY
          - AES_DECRYPT_FAILED
          - AES_ENCRYPTED_DATA_EMPTY
          - AES_ENCRYPT_FAILED
          - AES_KEY_EXPIRED
          - AES_KEY_EXPIRING_SOON
          - AES_KEY_FORMAT_ERROR
          - AES_KEY_GENERATE_FAILED
          - AES_KEY_LENGTH_ERROR
          - AES_KEY_NOT_FOUND
          - AES_MODE_NOT_SUPPORTED
          - AES_PADDING_NOT_SUPPORTED
          - AES_VECTOR_FORMAT_ERROR
          - AES_VECTOR_LENGTH_ERROR
          - ALREADY_REPORTED
          - BAD_GATEWAY
          - BAD_REQUEST
          - BUSINESS_ERROR
          - CAPTCHA_ERROR
          - CAPTCHA_EXPIRED
          - CONFLICT
          - CONTINUE
          - CREATED
          - DATABASE_BACKUP_FAILED
          - DATABASE_CHECK_CONSTRAINT_VIOLATION
          - DATABASE_COLUMN_NOT_FOUND
          - DATABASE_CONNECTION_FAILED
          - DATABASE_CONNECTION_POOL_EXHAUSTED
          - DATABASE_DEADLOCK
          - DATABASE_DELETE_FAILED
          - DATABASE_DUPLICATE_KEY
          - DATABASE_FOREIGN_KEY_VIOLATION
          - DATABASE_INDEX_NOT_FOUND
          - DATABASE_INSERT_FAILED
          - DATABASE_NOT_NULL_VIOLATION
          - DATABASE_OPERATION_FAILED
          - DATABASE_PERMISSION_DENIED
          - DATABASE_QUERY_FAILED
          - DATABASE_READ_ONLY
          - DATABASE_RESTORE_FAILED
          - DATABASE_SQL_SYNTAX_ERROR
          - DATABASE_TABLE_NOT_FOUND
          - DATABASE_TIMEOUT
          - DATABASE_TRANSACTION_FAILED
          - DATABASE_UNIQUE_CONSTRAINT_VIOLATION
          - DATABASE_UPDATE_FAILED
          - DATABASE_VERSION_INCOMPATIBLE
          - DATA_ALREADY_EXISTS
          - DATA_CONSTRAINT_VIOLATION
          - DATA_FORMAT_ERROR
          - DATA_INTEGRITY_ERROR
          - DATA_NOT_FOUND
          - DATA_RANGE_ERROR
          - DATA_RELATION_ERROR
          - DATA_STATUS_ERROR
          - DATA_VERSION_CONFLICT
          - EARLY_HINTS
          - EXPECTATION_FAILED
          - FAILED_DEPENDENCY
          - FEATURE_NOT_AVAILABLE
          - FORBIDDEN
          - FORCE_ENCRYPT_REQUEST_REQUIRED
          - FORCE_ENCRYPT_SESSION_REQUIRED
          - FOUND
          - GATEWAY_TIMEOUT
          - GONE
          - HTTP_VERSION_NOT_SUPPORTED
          - IM_USED
          - INSUFFICIENT_STORAGE
          - INTERNAL_SERVER_ERROR
          - IP_FORBIDDEN
          - LENGTH_REQUIRED
          - LOCKED
          - LOGIN_EXPIRED
          - LOGIN_FAILED
          - LOOP_DETECTED
          - METHOD_NOT_ALLOWED
          - MOVED_PERMANENTLY
          - MULTIPLE_CHOICES
          - MULTI_STATUS
          - NETWORK_AUTHENTICATION_REQUIRED
          - NON_AUTHORITATIVE_INFORMATION
          - NOT_ACCEPTABLE
          - NOT_EXTENDED
          - NOT_FOUND
          - NOT_IMPLEMENTED
          - NOT_MODIFIED
          - NO_CONTENT
          - OK
          - OPERATION_NOT_ALLOWED
          - OPERATION_TIMEOUT
          - PARTIAL_CONTENT
          - PASSWORD_EXPIRED
          - PASSWORD_WEAK
          - PAYLOAD_TOO_LARGE
          - PAYMENT_REQUIRED
          - PERMANENT_REDIRECT
          - PERMISSION_DENIED
          - PRECONDITION_FAILED
          - PRECONDITION_REQUIRED
          - PROCESSING
          - PROXY_AUTHENTICATION_REQUIRED
          - RANGE_NOT_SATISFIABLE
          - REFRESH_TOKEN_EXPIRED
          - REFRESH_TOKEN_INVALID
          - REQUEST_HEADER_FIELDS_TOO_LARGE
          - REQUEST_TIMEOUT
          - RESET_CONTENT
          - RESOURCE_LOCKED
          - RSA_CLIENT_PUBLIC_KEY_EXPIRING_SOON
          - RSA_CLIENT_PUBLIC_KEY_NOT_FOUND
          - RSA_DECRYPT_FAILED
          - RSA_ENCRYPT_FAILED
          - RSA_KEY_FORMAT_ERROR
          - RSA_KEY_GENERATE_FAILED
          - RSA_KEY_LENGTH_ERROR
          - RSA_KEY_PAIR_EXPIRING_SOON
          - RSA_KEY_PAIR_MISMATCH
          - RSA_KEY_PAIR_NOT_FOUND
          - RSA_PRIVATE_KEY_NOT_FOUND
          - RSA_PRIVATE_KEY_PARSE_ERROR
          - RSA_PUBLIC_KEY_PARSE_ERROR
          - RSA_SESSION_INVALID
          - RSA_SESSION_REQUIRED
          - SEE_OTHER
          - SERVICE_UNAVAILABLE
          - SESSION_EXPIRED
          - SESSION_INVALID
          - SUCCESS
          - SWITCHING_PROTOCOLS
          - SYSTEM_MAINTENANCE
          - TEMPORARY_REDIRECT
          - THIRD_PARTY_LOGIN_FAILED
          - TOKEN_EXPIRED
          - TOKEN_INVALID
          - TOO_EARLY
          - TOO_MANY_REQUESTS
          - UNAUTHORIZED
          - UNAVAILABLE_FOR_LEGAL_REASONS
          - UNKNOWN_ERROR
          - UNPROCESSABLE_ENTITY
          - UNSUPPORTED_MEDIA_TYPE
          - UPGRADE_REQUIRED
          - URI_TOO_LONG
          - USER_NOT_LOGIN
          - USE_PROXY
          - VARIANT_ALSO_NEGOTIATES
          - VERSION_INCOMPATIBLE
          type: string
        msg:
          description: 错误信息:成功时为空或为success
          type: string
        result:
          $ref: '#/components/schemas/Result'
        session:
          type: string
        success:
          type: boolean
      required:
      - code
      title: ResponseOfBalance
      type: object
    ResponseOfCertificateCode:
      example:
        msg: msg
        result:
          type: type
        ciphertext: ciphertext
        code: 0
        data:
          code: code
          domain: domain
          query: query
          reserve: true
          exchange: 2000-01-23T04:56:07.000+00:00
          model: model
          udid: udid
          quality: 6
          token: token
        session: session
        success: true
        action: GET_AES_KEY
        error: ACCEPTED
        algorithm: algorithm
      properties:
        action:
          enum:
          - GET_AES_KEY
          - NONE
          - REFRESH_SERVER_PUBLIC_KEY
          - RETRY_LATER
          - RE_LOGIN
          - UPDATE_CLIENT_VERSION
          - UPLOAD_CLIENT_PUBLIC_KEY
          type: string
        algorithm:
          type: string
        ciphertext:
          type: string
        code:
          description: 响应代码
          format: int32
          type: integer
        data:
          $ref: '#/components/schemas/CertificateCode'
        error:
          enum:
          - ACCEPTED
          - ACCESS_RATE_LIMIT
          - ACCOUNT_CANCELLED
          - ACCOUNT_DISABLED
          - ACCOUNT_LOCKED
          - ACCOUNT_NOT_ACTIVATED
          - AES_DECRYPTED_DATA_EMPTY
          - AES_DECRYPT_FAILED
          - AES_ENCRYPTED_DATA_EMPTY
          - AES_ENCRYPT_FAILED
          - AES_KEY_EXPIRED
          - AES_KEY_EXPIRING_SOON
          - AES_KEY_FORMAT_ERROR
          - AES_KEY_GENERATE_FAILED
          - AES_KEY_LENGTH_ERROR
          - AES_KEY_NOT_FOUND
          - AES_MODE_NOT_SUPPORTED
          - AES_PADDING_NOT_SUPPORTED
          - AES_VECTOR_FORMAT_ERROR
          - AES_VECTOR_LENGTH_ERROR
          - ALREADY_REPORTED
          - BAD_GATEWAY
          - BAD_REQUEST
          - BUSINESS_ERROR
          - CAPTCHA_ERROR
          - CAPTCHA_EXPIRED
          - CONFLICT
          - CONTINUE
          - CREATED
          - DATABASE_BACKUP_FAILED
          - DATABASE_CHECK_CONSTRAINT_VIOLATION
          - DATABASE_COLUMN_NOT_FOUND
          - DATABASE_CONNECTION_FAILED
          - DATABASE_CONNECTION_POOL_EXHAUSTED
          - DATABASE_DEADLOCK
          - DATABASE_DELETE_FAILED
          - DATABASE_DUPLICATE_KEY
          - DATABASE_FOREIGN_KEY_VIOLATION
          - DATABASE_INDEX_NOT_FOUND
          - DATABASE_INSERT_FAILED
          - DATABASE_NOT_NULL_VIOLATION
          - DATABASE_OPERATION_FAILED
          - DATABASE_PERMISSION_DENIED
          - DATABASE_QUERY_FAILED
          - DATABASE_READ_ONLY
          - DATABASE_RESTORE_FAILED
          - DATABASE_SQL_SYNTAX_ERROR
          - DATABASE_TABLE_NOT_FOUND
          - DATABASE_TIMEOUT
          - DATABASE_TRANSACTION_FAILED
          - DATABASE_UNIQUE_CONSTRAINT_VIOLATION
          - DATABASE_UPDATE_FAILED
          - DATABASE_VERSION_INCOMPATIBLE
          - DATA_ALREADY_EXISTS
          - DATA_CONSTRAINT_VIOLATION
          - DATA_FORMAT_ERROR
          - DATA_INTEGRITY_ERROR
          - DATA_NOT_FOUND
          - DATA_RANGE_ERROR
          - DATA_RELATION_ERROR
          - DATA_STATUS_ERROR
          - DATA_VERSION_CONFLICT
          - EARLY_HINTS
          - EXPECTATION_FAILED
          - FAILED_DEPENDENCY
          - FEATURE_NOT_AVAILABLE
          - FORBIDDEN
          - FORCE_ENCRYPT_REQUEST_REQUIRED
          - FORCE_ENCRYPT_SESSION_REQUIRED
          - FOUND
          - GATEWAY_TIMEOUT
          - GONE
          - HTTP_VERSION_NOT_SUPPORTED
          - IM_USED
          - INSUFFICIENT_STORAGE
          - INTERNAL_SERVER_ERROR
          - IP_FORBIDDEN
          - LENGTH_REQUIRED
          - LOCKED
          - LOGIN_EXPIRED
          - LOGIN_FAILED
          - LOOP_DETECTED
          - METHOD_NOT_ALLOWED
          - MOVED_PERMANENTLY
          - MULTIPLE_CHOICES
          - MULTI_STATUS
          - NETWORK_AUTHENTICATION_REQUIRED
          - NON_AUTHORITATIVE_INFORMATION
          - NOT_ACCEPTABLE
          - NOT_EXTENDED
          - NOT_FOUND
          - NOT_IMPLEMENTED
          - NOT_MODIFIED
          - NO_CONTENT
          - OK
          - OPERATION_NOT_ALLOWED
          - OPERATION_TIMEOUT
          - PARTIAL_CONTENT
          - PASSWORD_EXPIRED
          - PASSWORD_WEAK
          - PAYLOAD_TOO_LARGE
          - PAYMENT_REQUIRED
          - PERMANENT_REDIRECT
          - PERMISSION_DENIED
          - PRECONDITION_FAILED
          - PRECONDITION_REQUIRED
          - PROCESSING
          - PROXY_AUTHENTICATION_REQUIRED
          - RANGE_NOT_SATISFIABLE
          - REFRESH_TOKEN_EXPIRED
          - REFRESH_TOKEN_INVALID
          - REQUEST_HEADER_FIELDS_TOO_LARGE
          - REQUEST_TIMEOUT
          - RESET_CONTENT
          - RESOURCE_LOCKED
          - RSA_CLIENT_PUBLIC_KEY_EXPIRING_SOON
          - RSA_CLIENT_PUBLIC_KEY_NOT_FOUND
          - RSA_DECRYPT_FAILED
          - RSA_ENCRYPT_FAILED
          - RSA_KEY_FORMAT_ERROR
          - RSA_KEY_GENERATE_FAILED
          - RSA_KEY_LENGTH_ERROR
          - RSA_KEY_PAIR_EXPIRING_SOON
          - RSA_KEY_PAIR_MISMATCH
          - RSA_KEY_PAIR_NOT_FOUND
          - RSA_PRIVATE_KEY_NOT_FOUND
          - RSA_PRIVATE_KEY_PARSE_ERROR
          - RSA_PUBLIC_KEY_PARSE_ERROR
          - RSA_SESSION_INVALID
          - RSA_SESSION_REQUIRED
          - SEE_OTHER
          - SERVICE_UNAVAILABLE
          - SESSION_EXPIRED
          - SESSION_INVALID
          - SUCCESS
          - SWITCHING_PROTOCOLS
          - SYSTEM_MAINTENANCE
          - TEMPORARY_REDIRECT
          - THIRD_PARTY_LOGIN_FAILED
          - TOKEN_EXPIRED
          - TOKEN_INVALID
          - TOO_EARLY
          - TOO_MANY_REQUESTS
          - UNAUTHORIZED
          - UNAVAILABLE_FOR_LEGAL_REASONS
          - UNKNOWN_ERROR
          - UNPROCESSABLE_ENTITY
          - UNSUPPORTED_MEDIA_TYPE
          - UPGRADE_REQUIRED
          - URI_TOO_LONG
          - USER_NOT_LOGIN
          - USE_PROXY
          - VARIANT_ALSO_NEGOTIATES
          - VERSION_INCOMPATIBLE
          type: string
        msg:
          description: 错误信息:成功时为空或为success
          type: string
        result:
          $ref: '#/components/schemas/Result'
        session:
          type: string
        success:
          type: boolean
      required:
      - code
      title: ResponseOfCertificateCode
      type: object
    ResponseOfListOfPersonalCertificate:
      example:
        msg: msg
        result:
          type: type
        ciphertext: ciphertext
        code: 0
        data:
        - repair: true
          code: code
          certificateId: certificateId
          mobileprovision: mobileprovision
          certificate: certificate
          description: description
          invisible: true
          experience: 6
          deviceId: deviceId
          qualityTime: qualityTime
          uuid: uuid
          valid: true
          password: password
          price: 5.962133916683182
          reserve: true
          lock: 1
          tag: tag
          udid: udid
          serialNumber: serialNumber
          profile: profile
          team: team
          quality: 5
          createTime: createTime
          phone: phone
          refer: refer
          profileId: profileId
          teamId: teamId
          name: name
        - repair: true
          code: code
          certificateId: certificateId
          mobileprovision: mobileprovision
          certificate: certificate
          description: description
          invisible: true
          experience: 6
          deviceId: deviceId
          qualityTime: qualityTime
          uuid: uuid
          valid: true
          password: password
          price: 5.962133916683182
          reserve: true
          lock: 1
          tag: tag
          udid: udid
          serialNumber: serialNumber
          profile: profile
          team: team
          quality: 5
          createTime: createTime
          phone: phone
          refer: refer
          profileId: profileId
          teamId: teamId
          name: name
        session: session
        success: true
        action: GET_AES_KEY
        error: ACCEPTED
        algorithm: algorithm
      properties:
        action:
          enum:
          - GET_AES_KEY
          - NONE
          - REFRESH_SERVER_PUBLIC_KEY
          - RETRY_LATER
          - RE_LOGIN
          - UPDATE_CLIENT_VERSION
          - UPLOAD_CLIENT_PUBLIC_KEY
          type: string
        algorithm:
          type: string
        ciphertext:
          type: string
        code:
          description: 响应代码
          format: int32
          type: integer
        data:
          description: 响应数据
          items:
            $ref: '#/components/schemas/PersonalCertificate'
          type: array
        error:
          enum:
          - ACCEPTED
          - ACCESS_RATE_LIMIT
          - ACCOUNT_CANCELLED
          - ACCOUNT_DISABLED
          - ACCOUNT_LOCKED
          - ACCOUNT_NOT_ACTIVATED
          - AES_DECRYPTED_DATA_EMPTY
          - AES_DECRYPT_FAILED
          - AES_ENCRYPTED_DATA_EMPTY
          - AES_ENCRYPT_FAILED
          - AES_KEY_EXPIRED
          - AES_KEY_EXPIRING_SOON
          - AES_KEY_FORMAT_ERROR
          - AES_KEY_GENERATE_FAILED
          - AES_KEY_LENGTH_ERROR
          - AES_KEY_NOT_FOUND
          - AES_MODE_NOT_SUPPORTED
          - AES_PADDING_NOT_SUPPORTED
          - AES_VECTOR_FORMAT_ERROR
          - AES_VECTOR_LENGTH_ERROR
          - ALREADY_REPORTED
          - BAD_GATEWAY
          - BAD_REQUEST
          - BUSINESS_ERROR
          - CAPTCHA_ERROR
          - CAPTCHA_EXPIRED
          - CONFLICT
          - CONTINUE
          - CREATED
          - DATABASE_BACKUP_FAILED
          - DATABASE_CHECK_CONSTRAINT_VIOLATION
          - DATABASE_COLUMN_NOT_FOUND
          - DATABASE_CONNECTION_FAILED
          - DATABASE_CONNECTION_POOL_EXHAUSTED
          - DATABASE_DEADLOCK
          - DATABASE_DELETE_FAILED
          - DATABASE_DUPLICATE_KEY
          - DATABASE_FOREIGN_KEY_VIOLATION
          - DATABASE_INDEX_NOT_FOUND
          - DATABASE_INSERT_FAILED
          - DATABASE_NOT_NULL_VIOLATION
          - DATABASE_OPERATION_FAILED
          - DATABASE_PERMISSION_DENIED
          - DATABASE_QUERY_FAILED
          - DATABASE_READ_ONLY
          - DATABASE_RESTORE_FAILED
          - DATABASE_SQL_SYNTAX_ERROR
          - DATABASE_TABLE_NOT_FOUND
          - DATABASE_TIMEOUT
          - DATABASE_TRANSACTION_FAILED
          - DATABASE_UNIQUE_CONSTRAINT_VIOLATION
          - DATABASE_UPDATE_FAILED
          - DATABASE_VERSION_INCOMPATIBLE
          - DATA_ALREADY_EXISTS
          - DATA_CONSTRAINT_VIOLATION
          - DATA_FORMAT_ERROR
          - DATA_INTEGRITY_ERROR
          - DATA_NOT_FOUND
          - DATA_RANGE_ERROR
          - DATA_RELATION_ERROR
          - DATA_STATUS_ERROR
          - DATA_VERSION_CONFLICT
          - EARLY_HINTS
          - EXPECTATION_FAILED
          - FAILED_DEPENDENCY
          - FEATURE_NOT_AVAILABLE
          - FORBIDDEN
          - FORCE_ENCRYPT_REQUEST_REQUIRED
          - FORCE_ENCRYPT_SESSION_REQUIRED
          - FOUND
          - GATEWAY_TIMEOUT
          - GONE
          - HTTP_VERSION_NOT_SUPPORTED
          - IM_USED
          - INSUFFICIENT_STORAGE
          - INTERNAL_SERVER_ERROR
          - IP_FORBIDDEN
          - LENGTH_REQUIRED
          - LOCKED
          - LOGIN_EXPIRED
          - LOGIN_FAILED
          - LOOP_DETECTED
          - METHOD_NOT_ALLOWED
          - MOVED_PERMANENTLY
          - MULTIPLE_CHOICES
          - MULTI_STATUS
          - NETWORK_AUTHENTICATION_REQUIRED
          - NON_AUTHORITATIVE_INFORMATION
          - NOT_ACCEPTABLE
          - NOT_EXTENDED
          - NOT_FOUND
          - NOT_IMPLEMENTED
          - NOT_MODIFIED
          - NO_CONTENT
          - OK
          - OPERATION_NOT_ALLOWED
          - OPERATION_TIMEOUT
          - PARTIAL_CONTENT
          - PASSWORD_EXPIRED
          - PASSWORD_WEAK
          - PAYLOAD_TOO_LARGE
          - PAYMENT_REQUIRED
          - PERMANENT_REDIRECT
          - PERMISSION_DENIED
          - PRECONDITION_FAILED
          - PRECONDITION_REQUIRED
          - PROCESSING
          - PROXY_AUTHENTICATION_REQUIRED
          - RANGE_NOT_SATISFIABLE
          - REFRESH_TOKEN_EXPIRED
          - REFRESH_TOKEN_INVALID
          - REQUEST_HEADER_FIELDS_TOO_LARGE
          - REQUEST_TIMEOUT
          - RESET_CONTENT
          - RESOURCE_LOCKED
          - RSA_CLIENT_PUBLIC_KEY_EXPIRING_SOON
          - RSA_CLIENT_PUBLIC_KEY_NOT_FOUND
          - RSA_DECRYPT_FAILED
          - RSA_ENCRYPT_FAILED
          - RSA_KEY_FORMAT_ERROR
          - RSA_KEY_GENERATE_FAILED
          - RSA_KEY_LENGTH_ERROR
          - RSA_KEY_PAIR_EXPIRING_SOON
          - RSA_KEY_PAIR_MISMATCH
          - RSA_KEY_PAIR_NOT_FOUND
          - RSA_PRIVATE_KEY_NOT_FOUND
          - RSA_PRIVATE_KEY_PARSE_ERROR
          - RSA_PUBLIC_KEY_PARSE_ERROR
          - RSA_SESSION_INVALID
          - RSA_SESSION_REQUIRED
          - SEE_OTHER
          - SERVICE_UNAVAILABLE
          - SESSION_EXPIRED
          - SESSION_INVALID
          - SUCCESS
          - SWITCHING_PROTOCOLS
          - SYSTEM_MAINTENANCE
          - TEMPORARY_REDIRECT
          - THIRD_PARTY_LOGIN_FAILED
          - TOKEN_EXPIRED
          - TOKEN_INVALID
          - TOO_EARLY
          - TOO_MANY_REQUESTS
          - UNAUTHORIZED
          - UNAVAILABLE_FOR_LEGAL_REASONS
          - UNKNOWN_ERROR
          - UNPROCESSABLE_ENTITY
          - UNSUPPORTED_MEDIA_TYPE
          - UPGRADE_REQUIRED
          - URI_TOO_LONG
          - USER_NOT_LOGIN
          - USE_PROXY
          - VARIANT_ALSO_NEGOTIATES
          - VERSION_INCOMPATIBLE
          type: string
        msg:
          description: 错误信息:成功时为空或为success
          type: string
        result:
          $ref: '#/components/schemas/Result'
        session:
          type: string
        success:
          type: boolean
      required:
      - code
      title: ResponseOfListOfPersonalCertificate
      type: object
    ResponseOfListOfRenewable:
      example:
        msg: msg
        result:
          type: type
        ciphertext: ciphertext
        code: 0
        data:
        - renewable: true
          domain: domain
          udid: udid
          uuid: uuid
          guide: guide
          url: url
        - renewable: true
          domain: domain
          udid: udid
          uuid: uuid
          guide: guide
          url: url
        session: session
        success: true
        action: GET_AES_KEY
        error: ACCEPTED
        algorithm: algorithm
      properties:
        action:
          enum:
          - GET_AES_KEY
          - NONE
          - REFRESH_SERVER_PUBLIC_KEY
          - RETRY_LATER
          - RE_LOGIN
          - UPDATE_CLIENT_VERSION
          - UPLOAD_CLIENT_PUBLIC_KEY
          type: string
        algorithm:
          type: string
        ciphertext:
          type: string
        code:
          description: 响应代码
          format: int32
          type: integer
        data:
          description: 响应数据
          items:
            $ref: '#/components/schemas/Renewable'
          type: array
        error:
          enum:
          - ACCEPTED
          - ACCESS_RATE_LIMIT
          - ACCOUNT_CANCELLED
          - ACCOUNT_DISABLED
          - ACCOUNT_LOCKED
          - ACCOUNT_NOT_ACTIVATED
          - AES_DECRYPTED_DATA_EMPTY
          - AES_DECRYPT_FAILED
          - AES_ENCRYPTED_DATA_EMPTY
          - AES_ENCRYPT_FAILED
          - AES_KEY_EXPIRED
          - AES_KEY_EXPIRING_SOON
          - AES_KEY_FORMAT_ERROR
          - AES_KEY_GENERATE_FAILED
          - AES_KEY_LENGTH_ERROR
          - AES_KEY_NOT_FOUND
          - AES_MODE_NOT_SUPPORTED
          - AES_PADDING_NOT_SUPPORTED
          - AES_VECTOR_FORMAT_ERROR
          - AES_VECTOR_LENGTH_ERROR
          - ALREADY_REPORTED
          - BAD_GATEWAY
          - BAD_REQUEST
          - BUSINESS_ERROR
          - CAPTCHA_ERROR
          - CAPTCHA_EXPIRED
          - CONFLICT
          - CONTINUE
          - CREATED
          - DATABASE_BACKUP_FAILED
          - DATABASE_CHECK_CONSTRAINT_VIOLATION
          - DATABASE_COLUMN_NOT_FOUND
          - DATABASE_CONNECTION_FAILED
          - DATABASE_CONNECTION_POOL_EXHAUSTED
          - DATABASE_DEADLOCK
          - DATABASE_DELETE_FAILED
          - DATABASE_DUPLICATE_KEY
          - DATABASE_FOREIGN_KEY_VIOLATION
          - DATABASE_INDEX_NOT_FOUND
          - DATABASE_INSERT_FAILED
          - DATABASE_NOT_NULL_VIOLATION
          - DATABASE_OPERATION_FAILED
          - DATABASE_PERMISSION_DENIED
          - DATABASE_QUERY_FAILED
          - DATABASE_READ_ONLY
          - DATABASE_RESTORE_FAILED
          - DATABASE_SQL_SYNTAX_ERROR
          - DATABASE_TABLE_NOT_FOUND
          - DATABASE_TIMEOUT
          - DATABASE_TRANSACTION_FAILED
          - DATABASE_UNIQUE_CONSTRAINT_VIOLATION
          - DATABASE_UPDATE_FAILED
          - DATABASE_VERSION_INCOMPATIBLE
          - DATA_ALREADY_EXISTS
          - DATA_CONSTRAINT_VIOLATION
          - DATA_FORMAT_ERROR
          - DATA_INTEGRITY_ERROR
          - DATA_NOT_FOUND
          - DATA_RANGE_ERROR
          - DATA_RELATION_ERROR
          - DATA_STATUS_ERROR
          - DATA_VERSION_CONFLICT
          - EARLY_HINTS
          - EXPECTATION_FAILED
          - FAILED_DEPENDENCY
          - FEATURE_NOT_AVAILABLE
          - FORBIDDEN
          - FORCE_ENCRYPT_REQUEST_REQUIRED
          - FORCE_ENCRYPT_SESSION_REQUIRED
          - FOUND
          - GATEWAY_TIMEOUT
          - GONE
          - HTTP_VERSION_NOT_SUPPORTED
          - IM_USED
          - INSUFFICIENT_STORAGE
          - INTERNAL_SERVER_ERROR
          - IP_FORBIDDEN
          - LENGTH_REQUIRED
          - LOCKED
          - LOGIN_EXPIRED
          - LOGIN_FAILED
          - LOOP_DETECTED
          - METHOD_NOT_ALLOWED
          - MOVED_PERMANENTLY
          - MULTIPLE_CHOICES
          - MULTI_STATUS
          - NETWORK_AUTHENTICATION_REQUIRED
          - NON_AUTHORITATIVE_INFORMATION
          - NOT_ACCEPTABLE
          - NOT_EXTENDED
          - NOT_FOUND
          - NOT_IMPLEMENTED
          - NOT_MODIFIED
          - NO_CONTENT
          - OK
          - OPERATION_NOT_ALLOWED
          - OPERATION_TIMEOUT
          - PARTIAL_CONTENT
          - PASSWORD_EXPIRED
          - PASSWORD_WEAK
          - PAYLOAD_TOO_LARGE
          - PAYMENT_REQUIRED
          - PERMANENT_REDIRECT
          - PERMISSION_DENIED
          - PRECONDITION_FAILED
          - PRECONDITION_REQUIRED
          - PROCESSING
          - PROXY_AUTHENTICATION_REQUIRED
          - RANGE_NOT_SATISFIABLE
          - REFRESH_TOKEN_EXPIRED
          - REFRESH_TOKEN_INVALID
          - REQUEST_HEADER_FIELDS_TOO_LARGE
          - REQUEST_TIMEOUT
          - RESET_CONTENT
          - RESOURCE_LOCKED
          - RSA_CLIENT_PUBLIC_KEY_EXPIRING_SOON
          - RSA_CLIENT_PUBLIC_KEY_NOT_FOUND
          - RSA_DECRYPT_FAILED
          - RSA_ENCRYPT_FAILED
          - RSA_KEY_FORMAT_ERROR
          - RSA_KEY_GENERATE_FAILED
          - RSA_KEY_LENGTH_ERROR
          - RSA_KEY_PAIR_EXPIRING_SOON
          - RSA_KEY_PAIR_MISMATCH
          - RSA_KEY_PAIR_NOT_FOUND
          - RSA_PRIVATE_KEY_NOT_FOUND
          - RSA_PRIVATE_KEY_PARSE_ERROR
          - RSA_PUBLIC_KEY_PARSE_ERROR
          - RSA_SESSION_INVALID
          - RSA_SESSION_REQUIRED
          - SEE_OTHER
          - SERVICE_UNAVAILABLE
          - SESSION_EXPIRED
          - SESSION_INVALID
          - SUCCESS
          - SWITCHING_PROTOCOLS
          - SYSTEM_MAINTENANCE
          - TEMPORARY_REDIRECT
          - THIRD_PARTY_LOGIN_FAILED
          - TOKEN_EXPIRED
          - TOKEN_INVALID
          - TOO_EARLY
          - TOO_MANY_REQUESTS
          - UNAUTHORIZED
          - UNAVAILABLE_FOR_LEGAL_REASONS
          - UNKNOWN_ERROR
          - UNPROCESSABLE_ENTITY
          - UNSUPPORTED_MEDIA_TYPE
          - UPGRADE_REQUIRED
          - URI_TOO_LONG
          - USER_NOT_LOGIN
          - USE_PROXY
          - VARIANT_ALSO_NEGOTIATES
          - VERSION_INCOMPATIBLE
          type: string
        msg:
          description: 错误信息:成功时为空或为success
          type: string
        result:
          $ref: '#/components/schemas/Result'
        session:
          type: string
        success:
          type: boolean
      required:
      - code
      title: ResponseOfListOfRenewable
      type: object
    ResponseOfPersonalCertificate:
      example:
        msg: msg
        result:
          type: type
        ciphertext: ciphertext
        code: 0
        data:
          repair: true
          code: code
          certificateId: certificateId
          mobileprovision: mobileprovision
          certificate: certificate
          description: description
          invisible: true
          experience: 6
          deviceId: deviceId
          qualityTime: qualityTime
          uuid: uuid
          valid: true
          password: password
          price: 5.962133916683182
          reserve: true
          lock: 1
          tag: tag
          udid: udid
          serialNumber: serialNumber
          profile: profile
          team: team
          quality: 5
          createTime: createTime
          phone: phone
          refer: refer
          profileId: profileId
          teamId: teamId
          name: name
        session: session
        success: true
        action: GET_AES_KEY
        error: ACCEPTED
        algorithm: algorithm
      properties:
        action:
          enum:
          - GET_AES_KEY
          - NONE
          - REFRESH_SERVER_PUBLIC_KEY
          - RETRY_LATER
          - RE_LOGIN
          - UPDATE_CLIENT_VERSION
          - UPLOAD_CLIENT_PUBLIC_KEY
          type: string
        algorithm:
          type: string
        ciphertext:
          type: string
        code:
          description: 响应代码
          format: int32
          type: integer
        data:
          $ref: '#/components/schemas/PersonalCertificate'
        error:
          enum:
          - ACCEPTED
          - ACCESS_RATE_LIMIT
          - ACCOUNT_CANCELLED
          - ACCOUNT_DISABLED
          - ACCOUNT_LOCKED
          - ACCOUNT_NOT_ACTIVATED
          - AES_DECRYPTED_DATA_EMPTY
          - AES_DECRYPT_FAILED
          - AES_ENCRYPTED_DATA_EMPTY
          - AES_ENCRYPT_FAILED
          - AES_KEY_EXPIRED
          - AES_KEY_EXPIRING_SOON
          - AES_KEY_FORMAT_ERROR
          - AES_KEY_GENERATE_FAILED
          - AES_KEY_LENGTH_ERROR
          - AES_KEY_NOT_FOUND
          - AES_MODE_NOT_SUPPORTED
          - AES_PADDING_NOT_SUPPORTED
          - AES_VECTOR_FORMAT_ERROR
          - AES_VECTOR_LENGTH_ERROR
          - ALREADY_REPORTED
          - BAD_GATEWAY
          - BAD_REQUEST
          - BUSINESS_ERROR
          - CAPTCHA_ERROR
          - CAPTCHA_EXPIRED
          - CONFLICT
          - CONTINUE
          - CREATED
          - DATABASE_BACKUP_FAILED
          - DATABASE_CHECK_CONSTRAINT_VIOLATION
          - DATABASE_COLUMN_NOT_FOUND
          - DATABASE_CONNECTION_FAILED
          - DATABASE_CONNECTION_POOL_EXHAUSTED
          - DATABASE_DEADLOCK
          - DATABASE_DELETE_FAILED
          - DATABASE_DUPLICATE_KEY
          - DATABASE_FOREIGN_KEY_VIOLATION
          - DATABASE_INDEX_NOT_FOUND
          - DATABASE_INSERT_FAILED
          - DATABASE_NOT_NULL_VIOLATION
          - DATABASE_OPERATION_FAILED
          - DATABASE_PERMISSION_DENIED
          - DATABASE_QUERY_FAILED
          - DATABASE_READ_ONLY
          - DATABASE_RESTORE_FAILED
          - DATABASE_SQL_SYNTAX_ERROR
          - DATABASE_TABLE_NOT_FOUND
          - DATABASE_TIMEOUT
          - DATABASE_TRANSACTION_FAILED
          - DATABASE_UNIQUE_CONSTRAINT_VIOLATION
          - DATABASE_UPDATE_FAILED
          - DATABASE_VERSION_INCOMPATIBLE
          - DATA_ALREADY_EXISTS
          - DATA_CONSTRAINT_VIOLATION
          - DATA_FORMAT_ERROR
          - DATA_INTEGRITY_ERROR
          - DATA_NOT_FOUND
          - DATA_RANGE_ERROR
          - DATA_RELATION_ERROR
          - DATA_STATUS_ERROR
          - DATA_VERSION_CONFLICT
          - EARLY_HINTS
          - EXPECTATION_FAILED
          - FAILED_DEPENDENCY
          - FEATURE_NOT_AVAILABLE
          - FORBIDDEN
          - FORCE_ENCRYPT_REQUEST_REQUIRED
          - FORCE_ENCRYPT_SESSION_REQUIRED
          - FOUND
          - GATEWAY_TIMEOUT
          - GONE
          - HTTP_VERSION_NOT_SUPPORTED
          - IM_USED
          - INSUFFICIENT_STORAGE
          - INTERNAL_SERVER_ERROR
          - IP_FORBIDDEN
          - LENGTH_REQUIRED
          - LOCKED
          - LOGIN_EXPIRED
          - LOGIN_FAILED
          - LOOP_DETECTED
          - METHOD_NOT_ALLOWED
          - MOVED_PERMANENTLY
          - MULTIPLE_CHOICES
          - MULTI_STATUS
          - NETWORK_AUTHENTICATION_REQUIRED
          - NON_AUTHORITATIVE_INFORMATION
          - NOT_ACCEPTABLE
          - NOT_EXTENDED
          - NOT_FOUND
          - NOT_IMPLEMENTED
          - NOT_MODIFIED
          - NO_CONTENT
          - OK
          - OPERATION_NOT_ALLOWED
          - OPERATION_TIMEOUT
          - PARTIAL_CONTENT
          - PASSWORD_EXPIRED
          - PASSWORD_WEAK
          - PAYLOAD_TOO_LARGE
          - PAYMENT_REQUIRED
          - PERMANENT_REDIRECT
          - PERMISSION_DENIED
          - PRECONDITION_FAILED
          - PRECONDITION_REQUIRED
          - PROCESSING
          - PROXY_AUTHENTICATION_REQUIRED
          - RANGE_NOT_SATISFIABLE
          - REFRESH_TOKEN_EXPIRED
          - REFRESH_TOKEN_INVALID
          - REQUEST_HEADER_FIELDS_TOO_LARGE
          - REQUEST_TIMEOUT
          - RESET_CONTENT
          - RESOURCE_LOCKED
          - RSA_CLIENT_PUBLIC_KEY_EXPIRING_SOON
          - RSA_CLIENT_PUBLIC_KEY_NOT_FOUND
          - RSA_DECRYPT_FAILED
          - RSA_ENCRYPT_FAILED
          - RSA_KEY_FORMAT_ERROR
          - RSA_KEY_GENERATE_FAILED
          - RSA_KEY_LENGTH_ERROR
          - RSA_KEY_PAIR_EXPIRING_SOON
          - RSA_KEY_PAIR_MISMATCH
          - RSA_KEY_PAIR_NOT_FOUND
          - RSA_PRIVATE_KEY_NOT_FOUND
          - RSA_PRIVATE_KEY_PARSE_ERROR
          - RSA_PUBLIC_KEY_PARSE_ERROR
          - RSA_SESSION_INVALID
          - RSA_SESSION_REQUIRED
          - SEE_OTHER
          - SERVICE_UNAVAILABLE
          - SESSION_EXPIRED
          - SESSION_INVALID
          - SUCCESS
          - SWITCHING_PROTOCOLS
          - SYSTEM_MAINTENANCE
          - TEMPORARY_REDIRECT
          - THIRD_PARTY_LOGIN_FAILED
          - TOKEN_EXPIRED
          - TOKEN_INVALID
          - TOO_EARLY
          - TOO_MANY_REQUESTS
          - UNAUTHORIZED
          - UNAVAILABLE_FOR_LEGAL_REASONS
          - UNKNOWN_ERROR
          - UNPROCESSABLE_ENTITY
          - UNSUPPORTED_MEDIA_TYPE
          - UPGRADE_REQUIRED
          - URI_TOO_LONG
          - USER_NOT_LOGIN
          - USE_PROXY
          - VARIANT_ALSO_NEGOTIATES
          - VERSION_INCOMPATIBLE
          type: string
        msg:
          description: 错误信息:成功时为空或为success
          type: string
        result:
          $ref: '#/components/schemas/Result'
        session:
          type: string
        success:
          type: boolean
      required:
      - code
      title: ResponseOfPersonalCertificate
      type: object
    ResponseOfStatus:
      example:
        msg: msg
        result:
          type: type
        ciphertext: ciphertext
        code: 0
        data:
          magic: true
          blindReserveUnit: 6.027456183070403
          blind: true
          blindReserve: true
          quick: true
          blindUnit: 1.4658129805029452
          reserve: true
          quickUnit: 5.637376656633329
          magicUnit: 5.962133916683182
          reserveUnit: 2.3021358869347655
        session: session
        success: true
        action: GET_AES_KEY
        error: ACCEPTED
        algorithm: algorithm
      properties:
        action:
          enum:
          - GET_AES_KEY
          - NONE
          - REFRESH_SERVER_PUBLIC_KEY
          - RETRY_LATER
          - RE_LOGIN
          - UPDATE_CLIENT_VERSION
          - UPLOAD_CLIENT_PUBLIC_KEY
          type: string
        algorithm:
          type: string
        ciphertext:
          type: string
        code:
          description: 响应代码
          format: int32
          type: integer
        data:
          $ref: '#/components/schemas/Status'
        error:
          enum:
          - ACCEPTED
          - ACCESS_RATE_LIMIT
          - ACCOUNT_CANCELLED
          - ACCOUNT_DISABLED
          - ACCOUNT_LOCKED
          - ACCOUNT_NOT_ACTIVATED
          - AES_DECRYPTED_DATA_EMPTY
          - AES_DECRYPT_FAILED
          - AES_ENCRYPTED_DATA_EMPTY
          - AES_ENCRYPT_FAILED
          - AES_KEY_EXPIRED
          - AES_KEY_EXPIRING_SOON
          - AES_KEY_FORMAT_ERROR
          - AES_KEY_GENERATE_FAILED
          - AES_KEY_LENGTH_ERROR
          - AES_KEY_NOT_FOUND
          - AES_MODE_NOT_SUPPORTED
          - AES_PADDING_NOT_SUPPORTED
          - AES_VECTOR_FORMAT_ERROR
          - AES_VECTOR_LENGTH_ERROR
          - ALREADY_REPORTED
          - BAD_GATEWAY
          - BAD_REQUEST
          - BUSINESS_ERROR
          - CAPTCHA_ERROR
          - CAPTCHA_EXPIRED
          - CONFLICT
          - CONTINUE
          - CREATED
          - DATABASE_BACKUP_FAILED
          - DATABASE_CHECK_CONSTRAINT_VIOLATION
          - DATABASE_COLUMN_NOT_FOUND
          - DATABASE_CONNECTION_FAILED
          - DATABASE_CONNECTION_POOL_EXHAUSTED
          - DATABASE_DEADLOCK
          - DATABASE_DELETE_FAILED
          - DATABASE_DUPLICATE_KEY
          - DATABASE_FOREIGN_KEY_VIOLATION
          - DATABASE_INDEX_NOT_FOUND
          - DATABASE_INSERT_FAILED
          - DATABASE_NOT_NULL_VIOLATION
          - DATABASE_OPERATION_FAILED
          - DATABASE_PERMISSION_DENIED
          - DATABASE_QUERY_FAILED
          - DATABASE_READ_ONLY
          - DATABASE_RESTORE_FAILED
          - DATABASE_SQL_SYNTAX_ERROR
          - DATABASE_TABLE_NOT_FOUND
          - DATABASE_TIMEOUT
          - DATABASE_TRANSACTION_FAILED
          - DATABASE_UNIQUE_CONSTRAINT_VIOLATION
          - DATABASE_UPDATE_FAILED
          - DATABASE_VERSION_INCOMPATIBLE
          - DATA_ALREADY_EXISTS
          - DATA_CONSTRAINT_VIOLATION
          - DATA_FORMAT_ERROR
          - DATA_INTEGRITY_ERROR
          - DATA_NOT_FOUND
          - DATA_RANGE_ERROR
          - DATA_RELATION_ERROR
          - DATA_STATUS_ERROR
          - DATA_VERSION_CONFLICT
          - EARLY_HINTS
          - EXPECTATION_FAILED
          - FAILED_DEPENDENCY
          - FEATURE_NOT_AVAILABLE
          - FORBIDDEN
          - FORCE_ENCRYPT_REQUEST_REQUIRED
          - FORCE_ENCRYPT_SESSION_REQUIRED
          - FOUND
          - GATEWAY_TIMEOUT
          - GONE
          - HTTP_VERSION_NOT_SUPPORTED
          - IM_USED
          - INSUFFICIENT_STORAGE
          - INTERNAL_SERVER_ERROR
          - IP_FORBIDDEN
          - LENGTH_REQUIRED
          - LOCKED
          - LOGIN_EXPIRED
          - LOGIN_FAILED
          - LOOP_DETECTED
          - METHOD_NOT_ALLOWED
          - MOVED_PERMANENTLY
          - MULTIPLE_CHOICES
          - MULTI_STATUS
          - NETWORK_AUTHENTICATION_REQUIRED
          - NON_AUTHORITATIVE_INFORMATION
          - NOT_ACCEPTABLE
          - NOT_EXTENDED
          - NOT_FOUND
          - NOT_IMPLEMENTED
          - NOT_MODIFIED
          - NO_CONTENT
          - OK
          - OPERATION_NOT_ALLOWED
          - OPERATION_TIMEOUT
          - PARTIAL_CONTENT
          - PASSWORD_EXPIRED
          - PASSWORD_WEAK
          - PAYLOAD_TOO_LARGE
          - PAYMENT_REQUIRED
          - PERMANENT_REDIRECT
          - PERMISSION_DENIED
          - PRECONDITION_FAILED
          - PRECONDITION_REQUIRED
          - PROCESSING
          - PROXY_AUTHENTICATION_REQUIRED
          - RANGE_NOT_SATISFIABLE
          - REFRESH_TOKEN_EXPIRED
          - REFRESH_TOKEN_INVALID
          - REQUEST_HEADER_FIELDS_TOO_LARGE
          - REQUEST_TIMEOUT
          - RESET_CONTENT
          - RESOURCE_LOCKED
          - RSA_CLIENT_PUBLIC_KEY_EXPIRING_SOON
          - RSA_CLIENT_PUBLIC_KEY_NOT_FOUND
          - RSA_DECRYPT_FAILED
          - RSA_ENCRYPT_FAILED
          - RSA_KEY_FORMAT_ERROR
          - RSA_KEY_GENERATE_FAILED
          - RSA_KEY_LENGTH_ERROR
          - RSA_KEY_PAIR_EXPIRING_SOON
          - RSA_KEY_PAIR_MISMATCH
          - RSA_KEY_PAIR_NOT_FOUND
          - RSA_PRIVATE_KEY_NOT_FOUND
          - RSA_PRIVATE_KEY_PARSE_ERROR
          - RSA_PUBLIC_KEY_PARSE_ERROR
          - RSA_SESSION_INVALID
          - RSA_SESSION_REQUIRED
          - SEE_OTHER
          - SERVICE_UNAVAILABLE
          - SESSION_EXPIRED
          - SESSION_INVALID
          - SUCCESS
          - SWITCHING_PROTOCOLS
          - SYSTEM_MAINTENANCE
          - TEMPORARY_REDIRECT
          - THIRD_PARTY_LOGIN_FAILED
          - TOKEN_EXPIRED
          - TOKEN_INVALID
          - TOO_EARLY
          - TOO_MANY_REQUESTS
          - UNAUTHORIZED
          - UNAVAILABLE_FOR_LEGAL_REASONS
          - UNKNOWN_ERROR
          - UNPROCESSABLE_ENTITY
          - UNSUPPORTED_MEDIA_TYPE
          - UPGRADE_REQUIRED
          - URI_TOO_LONG
          - USER_NOT_LOGIN
          - USE_PROXY
          - VARIANT_ALSO_NEGOTIATES
          - VERSION_INCOMPATIBLE
          type: string
        msg:
          description: 错误信息:成功时为空或为success
          type: string
        result:
          $ref: '#/components/schemas/Result'
        session:
          type: string
        success:
          type: boolean
      required:
      - code
      title: ResponseOfStatus
      type: object
    ResponseOfVersion:
      example:
        msg: msg
        result:
          type: type
        ciphertext: ciphertext
        code: 0
        data:
          major: 1
          minor: 5
          build: 6
          revision: 5
        session: session
        success: true
        action: GET_AES_KEY
        error: ACCEPTED
        algorithm: algorithm
      properties:
        action:
          enum:
          - GET_AES_KEY
          - NONE
          - REFRESH_SERVER_PUBLIC_KEY
          - RETRY_LATER
          - RE_LOGIN
          - UPDATE_CLIENT_VERSION
          - UPLOAD_CLIENT_PUBLIC_KEY
          type: string
        algorithm:
          type: string
        ciphertext:
          type: string
        code:
          description: 响应代码
          format: int32
          type: integer
        data:
          $ref: '#/components/schemas/Version'
        error:
          enum:
          - ACCEPTED
          - ACCESS_RATE_LIMIT
          - ACCOUNT_CANCELLED
          - ACCOUNT_DISABLED
          - ACCOUNT_LOCKED
          - ACCOUNT_NOT_ACTIVATED
          - AES_DECRYPTED_DATA_EMPTY
          - AES_DECRYPT_FAILED
          - AES_ENCRYPTED_DATA_EMPTY
          - AES_ENCRYPT_FAILED
          - AES_KEY_EXPIRED
          - AES_KEY_EXPIRING_SOON
          - AES_KEY_FORMAT_ERROR
          - AES_KEY_GENERATE_FAILED
          - AES_KEY_LENGTH_ERROR
          - AES_KEY_NOT_FOUND
          - AES_MODE_NOT_SUPPORTED
          - AES_PADDING_NOT_SUPPORTED
          - AES_VECTOR_FORMAT_ERROR
          - AES_VECTOR_LENGTH_ERROR
          - ALREADY_REPORTED
          - BAD_GATEWAY
          - BAD_REQUEST
          - BUSINESS_ERROR
          - CAPTCHA_ERROR
          - CAPTCHA_EXPIRED
          - CONFLICT
          - CONTINUE
          - CREATED
          - DATABASE_BACKUP_FAILED
          - DATABASE_CHECK_CONSTRAINT_VIOLATION
          - DATABASE_COLUMN_NOT_FOUND
          - DATABASE_CONNECTION_FAILED
          - DATABASE_CONNECTION_POOL_EXHAUSTED
          - DATABASE_DEADLOCK
          - DATABASE_DELETE_FAILED
          - DATABASE_DUPLICATE_KEY
          - DATABASE_FOREIGN_KEY_VIOLATION
          - DATABASE_INDEX_NOT_FOUND
          - DATABASE_INSERT_FAILED
          - DATABASE_NOT_NULL_VIOLATION
          - DATABASE_OPERATION_FAILED
          - DATABASE_PERMISSION_DENIED
          - DATABASE_QUERY_FAILED
          - DATABASE_READ_ONLY
          - DATABASE_RESTORE_FAILED
          - DATABASE_SQL_SYNTAX_ERROR
          - DATABASE_TABLE_NOT_FOUND
          - DATABASE_TIMEOUT
          - DATABASE_TRANSACTION_FAILED
          - DATABASE_UNIQUE_CONSTRAINT_VIOLATION
          - DATABASE_UPDATE_FAILED
          - DATABASE_VERSION_INCOMPATIBLE
          - DATA_ALREADY_EXISTS
          - DATA_CONSTRAINT_VIOLATION
          - DATA_FORMAT_ERROR
          - DATA_INTEGRITY_ERROR
          - DATA_NOT_FOUND
          - DATA_RANGE_ERROR
          - DATA_RELATION_ERROR
          - DATA_STATUS_ERROR
          - DATA_VERSION_CONFLICT
          - EARLY_HINTS
          - EXPECTATION_FAILED
          - FAILED_DEPENDENCY
          - FEATURE_NOT_AVAILABLE
          - FORBIDDEN
          - FORCE_ENCRYPT_REQUEST_REQUIRED
          - FORCE_ENCRYPT_SESSION_REQUIRED
          - FOUND
          - GATEWAY_TIMEOUT
          - GONE
          - HTTP_VERSION_NOT_SUPPORTED
          - IM_USED
          - INSUFFICIENT_STORAGE
          - INTERNAL_SERVER_ERROR
          - IP_FORBIDDEN
          - LENGTH_REQUIRED
          - LOCKED
          - LOGIN_EXPIRED
          - LOGIN_FAILED
          - LOOP_DETECTED
          - METHOD_NOT_ALLOWED
          - MOVED_PERMANENTLY
          - MULTIPLE_CHOICES
          - MULTI_STATUS
          - NETWORK_AUTHENTICATION_REQUIRED
          - NON_AUTHORITATIVE_INFORMATION
          - NOT_ACCEPTABLE
          - NOT_EXTENDED
          - NOT_FOUND
          - NOT_IMPLEMENTED
          - NOT_MODIFIED
          - NO_CONTENT
          - OK
          - OPERATION_NOT_ALLOWED
          - OPERATION_TIMEOUT
          - PARTIAL_CONTENT
          - PASSWORD_EXPIRED
          - PASSWORD_WEAK
          - PAYLOAD_TOO_LARGE
          - PAYMENT_REQUIRED
          - PERMANENT_REDIRECT
          - PERMISSION_DENIED
          - PRECONDITION_FAILED
          - PRECONDITION_REQUIRED
          - PROCESSING
          - PROXY_AUTHENTICATION_REQUIRED
          - RANGE_NOT_SATISFIABLE
          - REFRESH_TOKEN_EXPIRED
          - REFRESH_TOKEN_INVALID
          - REQUEST_HEADER_FIELDS_TOO_LARGE
          - REQUEST_TIMEOUT
          - RESET_CONTENT
          - RESOURCE_LOCKED
          - RSA_CLIENT_PUBLIC_KEY_EXPIRING_SOON
          - RSA_CLIENT_PUBLIC_KEY_NOT_FOUND
          - RSA_DECRYPT_FAILED
          - RSA_ENCRYPT_FAILED
          - RSA_KEY_FORMAT_ERROR
          - RSA_KEY_GENERATE_FAILED
          - RSA_KEY_LENGTH_ERROR
          - RSA_KEY_PAIR_EXPIRING_SOON
          - RSA_KEY_PAIR_MISMATCH
          - RSA_KEY_PAIR_NOT_FOUND
          - RSA_PRIVATE_KEY_NOT_FOUND
          - RSA_PRIVATE_KEY_PARSE_ERROR
          - RSA_PUBLIC_KEY_PARSE_ERROR
          - RSA_SESSION_INVALID
          - RSA_SESSION_REQUIRED
          - SEE_OTHER
          - SERVICE_UNAVAILABLE
          - SESSION_EXPIRED
          - SESSION_INVALID
          - SUCCESS
          - SWITCHING_PROTOCOLS
          - SYSTEM_MAINTENANCE
          - TEMPORARY_REDIRECT
          - THIRD_PARTY_LOGIN_FAILED
          - TOKEN_EXPIRED
          - TOKEN_INVALID
          - TOO_EARLY
          - TOO_MANY_REQUESTS
          - UNAUTHORIZED
          - UNAVAILABLE_FOR_LEGAL_REASONS
          - UNKNOWN_ERROR
          - UNPROCESSABLE_ENTITY
          - UNSUPPORTED_MEDIA_TYPE
          - UPGRADE_REQUIRED
          - URI_TOO_LONG
          - USER_NOT_LOGIN
          - USE_PROXY
          - VARIANT_ALSO_NEGOTIATES
          - VERSION_INCOMPATIBLE
          type: string
        msg:
          description: 错误信息:成功时为空或为success
          type: string
        result:
          $ref: '#/components/schemas/Result'
        session:
          type: string
        success:
          type: boolean
      required:
      - code
      title: ResponseOfVersion
      type: object
    ResponseOfstring:
      example:
        msg: msg
        result:
          type: type
        ciphertext: ciphertext
        code: 0
        data: data
        session: session
        success: true
        action: GET_AES_KEY
        error: ACCEPTED
        algorithm: algorithm
      properties:
        action:
          enum:
          - GET_AES_KEY
          - NONE
          - REFRESH_SERVER_PUBLIC_KEY
          - RETRY_LATER
          - RE_LOGIN
          - UPDATE_CLIENT_VERSION
          - UPLOAD_CLIENT_PUBLIC_KEY
          type: string
        algorithm:
          type: string
        ciphertext:
          type: string
        code:
          description: 响应代码
          format: int32
          type: integer
        data:
          description: 响应数据
          type: string
        error:
          enum:
          - ACCEPTED
          - ACCESS_RATE_LIMIT
          - ACCOUNT_CANCELLED
          - ACCOUNT_DISABLED
          - ACCOUNT_LOCKED
          - ACCOUNT_NOT_ACTIVATED
          - AES_DECRYPTED_DATA_EMPTY
          - AES_DECRYPT_FAILED
          - AES_ENCRYPTED_DATA_EMPTY
          - AES_ENCRYPT_FAILED
          - AES_KEY_EXPIRED
          - AES_KEY_EXPIRING_SOON
          - AES_KEY_FORMAT_ERROR
          - AES_KEY_GENERATE_FAILED
          - AES_KEY_LENGTH_ERROR
          - AES_KEY_NOT_FOUND
          - AES_MODE_NOT_SUPPORTED
          - AES_PADDING_NOT_SUPPORTED
          - AES_VECTOR_FORMAT_ERROR
          - AES_VECTOR_LENGTH_ERROR
          - ALREADY_REPORTED
          - BAD_GATEWAY
          - BAD_REQUEST
          - BUSINESS_ERROR
          - CAPTCHA_ERROR
          - CAPTCHA_EXPIRED
          - CONFLICT
          - CONTINUE
          - CREATED
          - DATABASE_BACKUP_FAILED
          - DATABASE_CHECK_CONSTRAINT_VIOLATION
          - DATABASE_COLUMN_NOT_FOUND
          - DATABASE_CONNECTION_FAILED
          - DATABASE_CONNECTION_POOL_EXHAUSTED
          - DATABASE_DEADLOCK
          - DATABASE_DELETE_FAILED
          - DATABASE_DUPLICATE_KEY
          - DATABASE_FOREIGN_KEY_VIOLATION
          - DATABASE_INDEX_NOT_FOUND
          - DATABASE_INSERT_FAILED
          - DATABASE_NOT_NULL_VIOLATION
          - DATABASE_OPERATION_FAILED
          - DATABASE_PERMISSION_DENIED
          - DATABASE_QUERY_FAILED
          - DATABASE_READ_ONLY
          - DATABASE_RESTORE_FAILED
          - DATABASE_SQL_SYNTAX_ERROR
          - DATABASE_TABLE_NOT_FOUND
          - DATABASE_TIMEOUT
          - DATABASE_TRANSACTION_FAILED
          - DATABASE_UNIQUE_CONSTRAINT_VIOLATION
          - DATABASE_UPDATE_FAILED
          - DATABASE_VERSION_INCOMPATIBLE
          - DATA_ALREADY_EXISTS
          - DATA_CONSTRAINT_VIOLATION
          - DATA_FORMAT_ERROR
          - DATA_INTEGRITY_ERROR
          - DATA_NOT_FOUND
          - DATA_RANGE_ERROR
          - DATA_RELATION_ERROR
          - DATA_STATUS_ERROR
          - DATA_VERSION_CONFLICT
          - EARLY_HINTS
          - EXPECTATION_FAILED
          - FAILED_DEPENDENCY
          - FEATURE_NOT_AVAILABLE
          - FORBIDDEN
          - FORCE_ENCRYPT_REQUEST_REQUIRED
          - FORCE_ENCRYPT_SESSION_REQUIRED
          - FOUND
          - GATEWAY_TIMEOUT
          - GONE
          - HTTP_VERSION_NOT_SUPPORTED
          - IM_USED
          - INSUFFICIENT_STORAGE
          - INTERNAL_SERVER_ERROR
          - IP_FORBIDDEN
          - LENGTH_REQUIRED
          - LOCKED
          - LOGIN_EXPIRED
          - LOGIN_FAILED
          - LOOP_DETECTED
          - METHOD_NOT_ALLOWED
          - MOVED_PERMANENTLY
          - MULTIPLE_CHOICES
          - MULTI_STATUS
          - NETWORK_AUTHENTICATION_REQUIRED
          - NON_AUTHORITATIVE_INFORMATION
          - NOT_ACCEPTABLE
          - NOT_EXTENDED
          - NOT_FOUND
          - NOT_IMPLEMENTED
          - NOT_MODIFIED
          - NO_CONTENT
          - OK
          - OPERATION_NOT_ALLOWED
          - OPERATION_TIMEOUT
          - PARTIAL_CONTENT
          - PASSWORD_EXPIRED
          - PASSWORD_WEAK
          - PAYLOAD_TOO_LARGE
          - PAYMENT_REQUIRED
          - PERMANENT_REDIRECT
          - PERMISSION_DENIED
          - PRECONDITION_FAILED
          - PRECONDITION_REQUIRED
          - PROCESSING
          - PROXY_AUTHENTICATION_REQUIRED
          - RANGE_NOT_SATISFIABLE
          - REFRESH_TOKEN_EXPIRED
          - REFRESH_TOKEN_INVALID
          - REQUEST_HEADER_FIELDS_TOO_LARGE
          - REQUEST_TIMEOUT
          - RESET_CONTENT
          - RESOURCE_LOCKED
          - RSA_CLIENT_PUBLIC_KEY_EXPIRING_SOON
          - RSA_CLIENT_PUBLIC_KEY_NOT_FOUND
          - RSA_DECRYPT_FAILED
          - RSA_ENCRYPT_FAILED
          - RSA_KEY_FORMAT_ERROR
          - RSA_KEY_GENERATE_FAILED
          - RSA_KEY_LENGTH_ERROR
          - RSA_KEY_PAIR_EXPIRING_SOON
          - RSA_KEY_PAIR_MISMATCH
          - RSA_KEY_PAIR_NOT_FOUND
          - RSA_PRIVATE_KEY_NOT_FOUND
          - RSA_PRIVATE_KEY_PARSE_ERROR
          - RSA_PUBLIC_KEY_PARSE_ERROR
          - RSA_SESSION_INVALID
          - RSA_SESSION_REQUIRED
          - SEE_OTHER
          - SERVICE_UNAVAILABLE
          - SESSION_EXPIRED
          - SESSION_INVALID
          - SUCCESS
          - SWITCHING_PROTOCOLS
          - SYSTEM_MAINTENANCE
          - TEMPORARY_REDIRECT
          - THIRD_PARTY_LOGIN_FAILED
          - TOKEN_EXPIRED
          - TOKEN_INVALID
          - TOO_EARLY
          - TOO_MANY_REQUESTS
          - UNAUTHORIZED
          - UNAVAILABLE_FOR_LEGAL_REASONS
          - UNKNOWN_ERROR
          - UNPROCESSABLE_ENTITY
          - UNSUPPORTED_MEDIA_TYPE
          - UPGRADE_REQUIRED
          - URI_TOO_LONG
          - USER_NOT_LOGIN
          - USE_PROXY
          - VARIANT_ALSO_NEGOTIATES
          - VERSION_INCOMPATIBLE
          type: string
        msg:
          description: 错误信息:成功时为空或为success
          type: string
        result:
          $ref: '#/components/schemas/Result'
        session:
          type: string
        success:
          type: boolean
      required:
      - code
      title: ResponseOfstring
      type: object
    Result:
      example:
        type: type
      properties:
        type:
          type: string
      title: Result
      type: object
    Status:
      example:
        magic: true
        blindReserveUnit: 6.027456183070403
        blind: true
        blindReserve: true
        quick: true
        blindUnit: 1.4658129805029452
        reserve: true
        quickUnit: 5.637376656633329
        magicUnit: 5.962133916683182
        reserveUnit: 2.3021358869347655
      properties:
        blind:
          description: 标记该系统是否支持盲盒设备证书能立即秒出激活的功能
          type: boolean
        blindReserve:
          description: 标记该系统是否支持盲盒预定设备证书的功能
          type: boolean
        blindReserveUnit:
          description: 盲盒预定证书服务单价
          type: number
        blindUnit:
          description: 盲盒秒出证书单价
          type: number
        magic:
          description: 标记该系统是否支持部分设备证书能秒出激活的功能
          type: boolean
        magicUnit:
          description: 部分秒出证书单价
          type: number
        quick:
          description: 标记该系统是否支持全部设备证书能立即秒出激活的功能
          type: boolean
        quickUnit:
          description: 全量秒出证书单价
          type: number
        reserve:
          description: 标记该系统是否支持预定设备证书的功能
          type: boolean
        reserveUnit:
          description: 预定证书服务单价
          type: number
      title: Status
      type: object
    Version:
      example:
        major: 1
        minor: 5
        build: 6
        revision: 5
      properties:
        build:
          description: 构建版本
          format: int32
          type: integer
        major:
          description: 主版本号
          format: int32
          type: integer
        minor:
          description: 次版本号
          format: int32
          type: integer
        revision:
          description: 修订版本
          format: int32
          type: integer
      title: Version
      type: object
  securitySchemes:
    Authorization:
      flows:
        clientCredentials:
          scopes:
            all: All scope is trusted!
          tokenUrl: /oauth2/token
      type: oauth2
x-original-swagger-version: "2.0"

